
<form ng-submit="ok()">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Create User</h3>
  </div>

  <div class="modal-body" id="modal-body">
    <div class="row m-b-3">
      <div class="col-md-12">
        <input type="text"
               class="w-100"
               placeholder="username"
               ng-model="create.username" />
      </div>
    </div>
    <div class="row m-b-1">
      <div class="col-md-12">
        <input type="password"
               class="w-100"
               placeholder="password"
               ng-model="create.password" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <input type="password"
               class="w-100"
               placeholder="confirm password"
               ng-model="create.verify" />
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <input type="button"
           class="btn btn-danger"
           value="Cancel"
           ng-click="cancel()" />
    <input type="submit"
           class="btn btn-success"
           value="Create" />
  </div>
</form>
