<!doctype html>
<html lang='en' ng-app="bgApp">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title ng-bind="title"></title>

    <link href="index.css" rel="stylesheet">
    <link ng-if="themes.slate" ng-href="dark.css" rel="stylesheet">

    <!-- Favicon - this prevents the browser requesting favicon.ico before config is loaded -->
    <link rel="icon" href="data:,">
    <link rel="icon" ng-if="config.iconDefault" ng-href="image/{{config.iconDefault}}.png">
  </head>

  <body ng-cloak>

    <!-- Navbar Start -->
    <!-- Static navbar for layout purposes -->
    <nav class="navbar navbar-static-top"></nav>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

      <a style="cursor:pointer" class="navbar-brand" ui-sref="base.systems">
        <i style="padding: 3px;" ng-class="getIcon(config.iconDefault)"></i>
        <span ng-cloak>{{config.applicationName}}</span>
      </a>
      <ul class="nav navbar-nav navbar-top-links navbar-right">

        <li class="dropdown">
          <span data-toggle="dropdown" style="padding: 9px 15px; display: block;">
            <i class="fa fa-search"></i>
            <input ng-model="searchText" aria-label="Search System Names">
          </span>

          <ul class="dropdown-menu">
            <li ng-repeat="system in systems | filter:searchText" >
              <a ui-sref="base.system({namespace: system.namespace, systemName: system.name, systemVersion: system.version})"
                ui-sref-active="active">
                <span title="{{system.description}}">
                  <span>{{system.namespace}}</span>
                  <span>{{system.display_name || system.name}}</span>
                  <span>{{system.version}}</span>
                </span>
              </a>
            </li>
          </ul>
        </li>

        <li ng-show=!isUser(user)>
          <a href="" ng-click="doLogin()">
            <i style="padding: 3px;" class="fa fa-user"></i>
            <span>Login</span>
          </a>
        </li>

        <li ng-show="isUser(user)">
          <a href="">Hello, {{user.username}}!</a>
        </li>
        <li ng-show="isUser(user)">
          <a ng-click="doLogout()" href="">
            <i style="padding: 3px;" class="fa fa-user"></i>
            <span>Logout</span>
          </a>
        </li>

        <li ng-show="hasPermission(user, 'bg-system-read')">
          <a ui-sref="base.systems" ng-class="{active: ($state.current.name.startsWith('base.systems'))}">Systems</a>
        </li>
        <li ng-show="hasPermission(user, 'bg-command-read')">
          <a ui-sref="base.commands"
             ng-class="{active: ($state.current.name.startsWith('base.command'))}">Commands</a>
        </li>
        <li ng-show="hasPermission(user, 'bg-request-read')">
          <a ui-sref="base.requests"
             ng-class="{active: ($state.current.name.startsWith('request'))}">Requests</a>
        </li>
        <li ng-show="hasPermission(user, 'bg-job-read')">
          <a ui-sref="base.jobs"
             ng-class="{active: ($state.current.name.startsWith('job'))}">Scheduler</a>
        </li>

        <li id="nav-extras" class="dropdown">
          <a href="" class="fa fa-bars dropdown-toggle" data-toggle="dropdown" aria-label="Menu Drop Down"></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="base.about" ui-sref-active="active">About</a></li>
            <hr>
            <li ng-repeat="(style, enabled) in themes">
              <div style="padding: 3px 15px; cursor: pointer;"
                    ng-click="changeTheme(style, true)">
                <span class="fa" ng-class="{'fa-check': enabled, 'fa-fw': !enabled}"></span>
                <span>{{style}}</span>
              </div>
            </li>
            <hr>
            <li>
              <a ui-sref="base.system_admin" ui-sref-active="active">
                <span>Systems</span>
              </a>
            </li>
            <li ng-show="hasPermission(user, 'bg-queue-read')">
              <a ui-sref="base.queues" ui-sref-active="active">
                <span>Queues</span>
              </a>
            </li>
            <li ng-show="hasPermission(user, 'bg-user-read')">
              <a ui-sref="base.user_admin" ui-sref-active="active">
                <span>Users</span>
              </a>
            </li>
            <li ng-show="hasPermission(user, 'bg-role-read')">
              <a ui-sref="base.role_admin" ui-sref-active="active">
                <span>Roles</span>
              </a>
            </li>
            <li ng-show="hasPermission(user, 'bg-role-read')">
              <a ui-sref="base.garden_admin" ui-sref-active="active">
                <span>Gardens</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- Navbar End -->

    <div id="page-wrapper">
      <div ui-view></div>
    </div>

    <script src="index.js"></script>

  </body>
</html>
