# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.confc

# C extensions
*.so

# Distribution / packaging
env/
build/
develop-eggs/
dist/
downloads/
lib/
lib64/
parts/
sdist/
var/
eggs/
.eggs/
*.egg-info/
*.egg
*.rpm
.installed.cfg
.Python
.python-version

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/otehr infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
output/
htmlcov/
coverage/
cover/
.tox/
.hypothesis/
.cache
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Translations
*.mo
*.pot

# Swap files
*.swp

# Django stuff:
*.log

# Documentation
docs/_build/
docs/generated_docs/

# PyBuilder
target/

# Ipython Notebook
.ipynb_checkpoints

# IDE stuff
.idea/
.editorconfig

# virtualenv config
.python-version
.venv

# node files
node_modules

# extra stuff
plugins/
brewtils/

# fluff added by act runner
tmp/
workflow/
test/conf/data
docker/docker-compose/data/localplugins/*

# submodule stuff
.gitmodules
src/brewtils
