[submodule "brew-view"]
	path = brew-view
	url = ../brew-view
[submodule "bartender"]
	path = bartender
	url = ../bartender
[submodule "bg-utils"]
	path = bg-utils
	url = ../bg-utils
[submodule "example-plugins"]
	path = example-plugins
	url = ../example-plugins
