
# Runtime Dependencies
-e git+https://github.com/beer-garden/brewtils@master#egg=brewtils
mongoengine
pika
thriftpy
yapconf
futures ; python_version < "3.0"

# Documentation Dependencies
sphinx
sphinx_rtd_theme
watchdog

# Build / Test Dependencies
coverage
flake8
mock
pytest
pytz
tox
twine
wheel
