
# Dependencies
-e git+https://github.com/beer-garden/brewtils@develop#egg=brewtils
-e git+https://github.com/beer-garden/bg-utils@develop#egg=bg-utils
future ; python_version < "3.0"
futures ; python_version < "3.0"
pyrabbit2
ruamel.ordereddict ; python_version < "3.0"
subprocess32 ; python_version < "3.0"

# Documentation Dependencies
sphinx<2
sphinx_rtd_theme
watchdog

# Build / Test Dependencies
black ; python_version > "3.5"
codecov
coverage
flake8
mock
pytest<4
pytest-mock
pytz
tox
twine
wheel
