
# Runtime Dependencies
-e git+https://github.com/beer-garden/brewtils@master#egg=brewtils
mongoengine
pika
thriftpy
yapconf

# Documentation Dependencies
sphinx
sphinx_rtd_theme
watchdog

# Build / Test Dependencies
mock
nose
rednose
coverage
nosexcover
tox
pytz
flake8
wheel
twine
