version: '3.5'

x-definitions: &env
    # IMPORTANT!!
    # Change this to whatever you want your garden name / namespace default to be
    BG_GARDEN_NAME: docker

    # IMPORTANT!!
    # Change this to support both local and remote plugins
    # Should be resolvable from inside and outside the docker network
    BG_PUBLISH_HOSTNAME: localhost

    # IMPORTANT!!
    # If you are connection to a Parent BG instance, toggle true
    BG_PARENT_HTTP_ENABLE: false
    
    # IMPORTANT !!
    # If you are connecting to a Parent BG instance, change this the resolvable DNS entry
    BG_PARENT_HTTP_HOST: localhost

services:
    beer-garden:
        image: bgio/beer-garden:unstable
        networks:
            - bg-network
        ports:
            - "2337:2337"
            - "2338:2338"
        volumes:
            - ./data/logging-config.yaml:/src/example_configs/logging-config.yaml
            - ./data/localplugins:/plugins
        environment:
            <<: *env

            # Point at the correct database
            BG_DB_HOST: mongodb
            BG_DB_NAME: beer_garden_v3

            # Point at the correct message broker
            BG_AMQ_HOST: rabbitmq
            BG_AMQ_CONNECTIONS_ADMIN_USER: beer_garden
            BG_AMQ_CONNECTIONS_ADMIN_PASSWORD: password
            BG_AMQ_CONNECTIONS_MESSAGE_USER: beer_garden
            BG_AMQ_CONNECTIONS_MESSAGE_PASSWORD: password

            # Disable TLS
            BG_AUTH_ENABLED: "false"

            # We expose grafana for you, but you can change this to an
            # external grafana URL if you would like. It just adds a
            # link in our About section if it is defined.
            BG_METRICS_URL: http://localhost:3000
            BG_METRICS_PROMETHEUS_ENABLED: "false"
        depends_on:
            - mongodb
            - rabbitmq

    ui:
        image: bgio/ui:unstable
        networks:
            - bg-network
        ports:
            - "80:80"
              #- "443:443"
        volumes:
            - ./data/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - beer-garden

    grafana:
        image: grafana/grafana:5.2.3
        ports:
            - "3000:3000"
        volumes:
            - ./data/grafana/provisioning:/etc/grafana/provisioning
            - ./data/grafana/dashboards:/var/lib/grafana/dashboards
        networks:
            - bg-network
        depends_on:
            - prometheus

    mongodb:
        image: mongo:4.0
        restart: always
        networks:
            - bg-network
        ports:
          - "27017:27017"
        volumes:
            - mongo-data:/data/db
            - mongo-config:/data/configdb

    prometheus:
        image: prom/prometheus:v2.3.2
        ports:
          - "9091:9090"
        networks:
            - bg-network
        volumes:
            - ./data/prometheus:/prometheus-data
        command:
            --config.file=/prometheus-data/prometheus.yml

    rabbitmq:
        image: rabbitmq:management-alpine
        restart: always
        hostname: rabbitmq
        networks:
            - bg-network
        environment:
            - RABBITMQ_DEFAULT_USER=beer_garden
            - RABBITMQ_DEFAULT_PASS=password
        ports:
            - "5672:5672"
            - "15672:15672"
        volumes:
            - rabbitmq-home:/var/lib/rabbitmq

networks:
    bg-network:
        driver: bridge
        name: bg-network

volumes:
    plugins:
    plugin-logs:
    mongo-data:
    mongo-config:
    rabbitmq-home:
