
<div class="col-md-12" ng-if="loader.error && loader.status !== 404">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h2><i class="fa fa-bug"></i><strong> Oh Snap!</strong> Something unexpected happened on the server</h2>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Server Message</dt>
        <dd>{{ loader.errorMessage }}</dd>
        <dt>Next Steps</dt>
        <dd>Is the above message not helpful? We are sorry to hear that <i class="fa fa-frown-o"></i><br />Please check out the Troubleshooting Guide in the About section to figure out how to troubleshoot or possibly restart the application.</dd>
      </dl>
    </div>
    <div class="panel-footer">
      <p>If none of the above is helpful, please check in with your System Administrator.</p>
    </div>
  </div>
</div>
