  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Add Commands to Block List</h3>
  </div>

  <div class="modal-body" id="modal-body">
    <table
            id="systemIndexTable"
            datatable="ng"
            dt-options="dtOptions"
            dt-instance="instanceCreated"
            class="table table-striped table-bordered"
            style="width: 100%"
    >
      <thead>
      <tr>
        <th style="width: 30px;" class="" scope="col">Add</th>
        <th scope="col">Namespace</th>
        <th scope="col">System</th>
        <th scope="col">Command</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="command in data | filter:query">
        <td>
          <input class=""
                 type="checkbox"
                 style="width: 100%"
                 ng-model="command.isChecked"
                 ng-click="onCommandCheckChange(command)"
          >
        </td>
        <td>{{command.namespace}}</td>
        <td>{{command.system}}</td>
        <td>{{command.command}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer" id="modal-footer">
    <input
            type="checkbox"
            ng-hide="true"
            id="select-all-hidden-checkbox"
            ng-model="selectAllValue"
            ng-click="selectAll()"
    />
    <input
            type="button"
            class="btn btn-danger"
            value="Cancel"
            ng-click="cancelSubmission()"
    />
    <input
            type="submit"
            ng-disabled="canSubmit()"
            class="btn btn-primary"
            value="Submit"
            ng-click="submitBlocklistEntries()"
    />
  </div>
