<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
        {{selectedGarden.name}}
    </h3>
</div>

<div class="modal-body" id="modal-body">
    <div>
        <h4>Version</h4>
        <ul>
            <li>
                <span>{{selectedGarden.version}}</span>
            </li>
        </ul>
    </div>
    <div ng-if="selectedGarden.has_upstream">
        <h4>Upstream</h4>
        <ul>
            <li>
                <span>{{selectedGarden.upstream}}</span>
            </li>
        </ul>
    </div>

    <div ng-if="selectedGarden.downstream.length > 0">
        <h4>Downstream</h4>
        <ul>
            <li ng-repeat="downstream in selectedGarden.downstream">{{downstream.name}}</li>
        </ul>
    </div>
    <div ng-if="selectedGarden.default_user.length > 0">
        <h4>Default User</h4>
        <ul>
            <li>
                <span>{{selectedGarden.default_user}}</span>
            </li>
        </ul>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$close()">
        Close
    </button>
</div>