<div class="modal-header">
  <h3 class="modal-title" id="modal-title">
    Cancel/Delete Requests: {{system.name}}[{{system.version}}]-{{instance.name}}
  </h3>
</div>

<div class="modal-body" id="modal-body">
  <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-{{alert.type}}'" close="closeAlert($index)">
    {{alert.msg}}
  </div>
  <div>
    Currently {{all_count}} Requests present in the database
  </div>
  <br>
  <table
    id="requestDeleteCancelTable"
    dt-options="dtOptions"
    dt-columns="dtColumns"
    class="table table-striped table-bordered w-100"
    >
    <tr>
      <th>Status</th>
      <th>Count</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>SUCCESS</td>
      <td>{{success_count}}</td>
      <td>
        <button type="button" class="btn btn-success btn-block" ng-click="deleteCancelRequests('SUCCESS')"
          confirm="Are you sure you want to delete Requests with status SUCCESS?">
          Delete SUCCESS
        </button>
      </td>
    </tr>
    <tr>
      <td>CANCELED</td>
      <td>{{cancelled_count}}</td>
      <td>
        <button type="button" class="btn btn-success btn-block" ng-click="deleteCancelRequests('CANCELED')"
          confirm="Are you sure you want to delete Requests with status CANCELED?">
          Delete CANCELED
        </button>
      </td>
    </tr>
    <tr>
      <td>ERROR</td>
      <td>
        {{error_count}}
      </td>
      <td>
        <button type="button" class="btn btn-success btn-block" ng-click="deleteCancelRequests('ERROR')"
          confirm="Are you sure you want to delete Requests with status ERROR?">
          Delete ERROR
        </button>
      </td> 
    </tr>
    <tr>
      <td>IN PROGRESS</td>
      <td>{{in_progress_count}}</td>
      <td>
        <button type="button" class="btn btn-warning btn-block" ng-click="deleteCancelRequests('IN PROGRESS', is_cancel=true)"
          confirm="Are you sure you want to cancel Requests with status IN PROGRESS? There may be a plugin already running the request.">
          Cancel IN PROGRESS
        </button>
      </td>
    </tr>

    <tr>
      <td>RECEIVED</td>
      <td>
        {{received_count}}
      </td>
      <td>
        <button type="button" class="btn btn-warning btn-block" ng-click="deleteCancelRequests('RECEIVED', is_cancel=true)"
          confirm="Are you sure you want to cancel Requests with status RECEIVED?">
          Cancel RECEIVED
        </button>
      </td>
    </tr>

    <tr>
      <td>CREATED</td>
      <td>
        {{created_count}}
      </td>
      <td>
        <button type="button" class="btn btn-warning btn-block" ng-click="deleteCancelRequests('CREATED', is_cancel=true)"
          confirm="Are you sure you want to cancel Requests with status CREATED? Recommend clearing topics as well.">
          Cancel CREATED
        </button>
      </td>
    </tr>
    <tr>
      <td>Non-Completed (CREATED/RECEIVED/IN PROGRESS)</td>
      <td>
      {{in_progress_count + received_count + created_count}}
      </td>
      <td>
        <button type="button" class="btn btn-warning btn-block" ng-click="deleteCancelRequests('ALL', is_cancel=true)"
          confirm="Are you sure you want to cancel all non-completed Requests?">
          Cancel Non-Completed
        </button>
      </td>     
    </tr>
    <tr>
      <td>ALL</td>
      <td>
        {{all_count}}
      </td>
      <td>
        <button type="button" class="btn btn-danger btn-block" ng-click="deleteCancelRequests('ALL')"
          confirm="Are you sure you want to delete all the Requests?">
          Delete All
        </button>
      </td>

  </table>

</div>

<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="closeDialog()">
    Close
  </button>
</div>
