<div class="modal-header">
  <h3 class="modal-title" id="modal-title">
    Delete Requests: {{system.name}}[{{system.version}}]-{{instance.name}}
  </h3>
</div>

<div class="modal-body" id="modal-body">
  <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-{{alert.type}}'" close="closeAlert($index)">
    {{alert.msg}}
  </div>
  <div>
    Currently {{all_count}} Requests present in the database
  </div>
  <br>

  <table>
    <tr>
      <th>Action</th>
      <th>Requests</th>
    </tr>
    <tr>
      <td>
        <button type="button" class="btn btn-success btn-block" ng-click="deleteRequests('SUCCESS')"
          confirm="Are you sure you want to delete Requests with status SUCCESS?">
          Delete SUCCESS
        </button>
      </td>
      <td align="right">
        {{success_count}}
      </td>
    </tr>
    <tr>
      <td>
        <button type="button" class="btn btn-success btn-block" ng-click="deleteRequests('CANCELED')"
          confirm="Are you sure you want to delete Requests with status CANCELED?">
          Delete CANCELED
        </button>
      </td>
      <td align="right">
        {{cancelled_count}}
      </td>
    </tr>
    <tr>
      <td>
        <button type="button" class="btn btn-success btn-block" ng-click="deleteRequests('ERROR')"
          confirm="Are you sure you want to delete Requests with status ERROR?">
          Delete ERROR
        </button>
      </td>
      <td align="right">
        {{error_count}}
      </td>
    </tr>

    <tr>
      <td>
        <button type="button" class="btn btn-warning btn-block" ng-click="deleteRequests('CREATED')"
          confirm="Are you sure you want to delete Requests with status CREATED? Recommend clearing topics as well, else a plugin could still process this request.">
          Delete CREATED
        </button>
      </td>
      <td align="right">
        {{created_count}}
      </td>
    </tr>
    <tr>
      <td>
        <button type="button" class="btn btn-warning btn-block" ng-click="deleteRequests('RECEIVED')"
          confirm="Are you sure you want to delete Requests with status RECEIVED?">
          Delete RECEIVED
        </button>
      </td>
      <td align="right">
        {{received_count}}
      </td>
    </tr>
    <tr>
      <td>
        <button type="button" class="btn btn-warning btn-block" ng-click="deleteRequests('IN PROGRESS')"
          confirm="Are you sure you want to delete Requests with status IN PROGRESS? There may be a plugin already running the request.">
          Delete IN PROGRESS
        </button>
      </td>
      <td align="right">{{in_progress_count}}</td>
    </tr>

    <tr>
      <td>
        <button type="button" class="btn btn-danger btn-block" ng-click="deleteRequests('ALL')"
          confirm="Are you sure you want to delete all the Requests?">
          Delete All
        </button>
      </td>
      <td align="right">
        {{all_count}}
      </td>
    </tr>

  </table>

</div>

<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="closeDialog()">
    Close
  </button>
</div>