<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Log File: {{system.name}}[{{system.version}}]-{{instance.name}}</h3>
</div>
<div class="modal-body" id="modal-body">
<div uib-alert
     ng-repeat="alert in alerts"
     ng-class="'alert-{{alert.type}}'"
     close="closeAlert($index)">
  {{alert.msg}}
</div>
<div>
    <form ng-submit="getLogsTail()">
      <input type="submit" value="Get Tail Logs">
      <label for="start_line">Tail Lines</label>
      <input type="number" id="tail_line" min="0" name="start_line" ng-model="tail_line">
    </form>
  </div>
<div>
    <form ng-submit="getLogsLines()">
      <input type="submit" value="Get Line Logs">
      <label for="start_line">Start Line</label>
      <input type="number" id="start_line" min="0" name="start_line" ng-model="start_line">
      <label for="end_line">End Line</label>
      <input type="number" id="end_line" min="0" name="end_line" ng-model="end_line">
    </form>
  </div>
<div>
    <a ng-href="api/v1/instances/{{instance.id}}/logs/" download="{{filename}}"><button>Get Full Logs</button></a>
</div>
<div id="loading"
       class="col-md-12 text-center"
       ng-if="loadingLogs">
    <h1 ng-show="loadingLogs">
      <div>Loading...</div>
      <div><i class="fa fa-spinner fa-pulse fa-2x"></i></div>
    </h1>
  </div>
  <div class="container-fluid animate-if"
       ng-if="logs !== undefined">
    <br>
    <a class="fa fa-download pull-right" 
      ng-href="{{downloadHref}}" download="{{filename}}" ng-show="displayLogs !== undefined"></a>
    <pre id="rawOutput" ng-show="displayLogs !== undefined">{{displayLogs}}</pre>
  </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="closeDialog()">Close Logs</button>
</div>