<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Manage Garden Account Mappings for {{user.username}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <table
            id="roleIndexTable"
            datatable="ng"
            dt-options="dtOptions"
            dt-instance="instanceCreated"
            class="table table-striped table-bordered"
            style="width: 100%"
    >
        <thead>
            <th scope="col">Garden</th>
            <th scope="col">Username</th>
            <th scope="col">Route</th>
        </thead>
        <tbody>
            <tr ng-repeat="account in editUser.user_alias_mapping">            
                <td>{{account.target_garden}}</td>
                <td>
                    <input class=""
                           type="text"
                           style="width: 100%"
                           ng-model="account.username"
                           placeholder="{{findDefaultUsername(account.target_garden)}}"
                    >
                </td>
                <td> 
                    <div ng-bind-html="findParentGardenRoute(account.target_garden)"></div>
                </td>
            </tr>
        </tbody>

    </table>
</div>
<div class="modal-footer" id="modal-footer">
    <input
            type="submit"
            ng-disabled="canSubmit()"
            class="btn btn-primary"
            value="Submit"
            ng-click="submitAccounts()"
    />
    <input
            type="button"
            class="btn btn-danger"
            value="Reset"
            ng-click="resetSubmission()"
    />
    <input
            type="button"
            class="btn btn-primary"
            value="Close"
            ng-click="close()"
    />
</div>
