
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
env/
build/
develop-eggs/
dist/
downloads/
lib/
lib64/
parts/
sdist/
var/
eggs/
.eggs/
*.egg-info/
*.egg
.installed.cfg
.Python

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/otehr infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
output/
htmlcov/
coverage/
cover/
.tox/
.hypothesis/
.cache
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Swap files
*.swp

# Django stuff:
*.log

# Documentation
docs/_build/
docs/generated_docs/

# PyBuilder
target/

# Ipython Notebook
.ipynb_checkpoints

# IDE stuff
.idea/
.editorconfig

