
# Runtime Dependencies
brewtils==2.3.0.dev0
mongoengine
application-configuration
pika
thriftpy

# Documentation Dependencies
sphinx

# Build / Test Dependencies
mock
nose
rednose
coverage
nosexcover
pylint
tox

