<h1 class="page-header" ng-cloak>About {{config.applicationName}}</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Heplful Links</div>
        <div class="panel-body">
          <ul>
            <li>
              <a href="{{config.urlPrefix}}swagger/index.html?config={{config.urlPrefix}}config/swagger">Open API documentation</a> - {{config.applicationName}} uses OpenAPI Documentation for our ReST Interface.
            </li>
            <li ng-if="config.metricsUrl">
              <a href="{{config.metricsUrl}}">Metrics</a> - Link to the configured metrics backend.
            </li>
            <li>
              <a href="https://grafana.com/dashboards/6621">Grafana Dashboard (Beer Garden)</a> - A grafana dashboard for monitoring Beer Garden Performance.
            </li>
            <li>
              <a href="https://grafana.com/dashboards/6624">Grafana Dashboard (Plugins)</a> - A grafana dashboard for monitoring Beer Garden plugin performance.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4" ng-if="!version.error">
      <loading loader="version"></loading>
      <div class="panel panel-default animate-if" ng-if="version.loaded">
        <div class="panel-heading">Version Information</div>
        <div class="panel-body">
          <p>{{config.applicationName}} is made up of multiple components. Their versions are listed below</p>
        </div>
        <table class="table table-hover">
          <tr>
            <th>Component Name</th>
            <th>Version</th>
          </tr>
          <tr>
            <td>Bartender</td>
            <td>{{ version.data.bartender_version }}</td>
          </tr>
          <tr>
            <td>Brew View</td>
            <td>{{ version.data.brew_view_version }}</td>
          </tr>
          <tr>
            <td>Current API</td>
            <td>{{ version.data.current_api_version }}</td>
          </tr>
          <tr>
            <td>Supported API Versions</td>
            <td>{{ version.data.supported_api_versions.join(', ') }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-4" ng-if="!version.error">
      <loading loader="version"></loading>
      <div class="panel panel-default animate-if" ng-if="version.loaded">
        <div class="panel-heading">Component Version</div>
        <div class="panel-body">
          <p>Listed below is the current status of the components</p>
        </div>
        <table class="table table-hover">
          <tr>
            <td>Brew View</td>
            <td><span class="label label-success">RUNNING</span></td>
          </tr>
          <tr>
            <td>Bartender</td>
            <td>
              <span class="label label-success" ng-if="version.data.bartender_version != 'unknown'">RUNNING</span>
              <span class="label label-danger" ng-if="version.data.bartender_version == 'unknown'">DOWN</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-8" ng-if="version.error">
      <server-error loader="version"></server-error>
    </div>
  </div>
</div>
