<h1 class='page-header'>
  <span>User Management</span>
</h1>

<div class="row">
  <div class="col-md-2">
    <h3 style="text-align: center;">Users</h3>
  </div>
  <div class="col-md-2">
    <h3 style="text-align: center;">Roles</h3>
  </div>
  <div class="col-md-8">
    <h3 style="text-align: center;">Effective Permissions</h3>
  </div>
</div>
<form>
  <div class="row form-group">
    <div class="col-md-2">
      <select size="3" style="width: 100%;" ng-model="currentUser"
        ng-options="user.username for user in users track by user.id">
      <!-- <select size="3" style="width: 100%;" ng-model="currentUser"
        ng-options="user as user.username for user in users track by user.id"> -->
      </select>
    </div>
    <div class="col-md-2">
      <div ng-repeat="roleName in roleNames">
        <input type="checkbox" ng-model="currentUser.roles[roleName]" ng-click="roleChange(roleName)" id="{{roleName}}" />
        <label for="{{roleName}}" ng-style="color('roles.'+roleName)">{{roleName}}</label>
      </div>
    </div>
    <div class="col-md-8">
      <div ng-repeat="permGroup in permissions" class="row">
        <span ng-repeat="permission in permGroup" class="col-sm-3">
          <input type="checkbox" ng-model="currentUser.permissions[permission]" id="{{permission}}" disabled />
          <label for="{{permission}}" ng-style="color('permissions.'+permission)">{{permission}}</label>
        </span>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-2">
      <input type="submit" class="btn btn-success w-100" ng-click="doCreate()" value="Add User"></input>
    </div>
    <div class="col-md-2">
      <input type="submit" class="btn btn-danger w-100" ng-click="doDelete()" value="Remove User"
        confirm="Are you sure you want to remove this user?"></input>
    </div>
    <div class="col-md-8">
      <input type="submit" class="btn btn-primary w-100" ng-click="doUpdate()" value="Update User"></input>
    </div>
  </div>
</form>
