<h1 class='page-header'>User Management</h1>

<div class="row">
  <div class="col-md-2">
    <h3>Roles</h3>
    <div ng-repeat="role in roles">
      <span>{{role.name}}</span>
    </div>
  </div>
  <div class="col-md-2">
    <h3>Nested Roles</h3>
    <div ng-repeat="role in roles">
      <input type="checkbox"></input>
      <span>{{role.name}}</span>
    </div>
  </div>
  <div class="col-md-8">
    <h3>Permissions</h3>
    <div ng-repeat="permGroup in permissions" class="row">
      <span ng-repeat="permission in permGroup" class="col-sm-3">
        <input type="checkbox"></input>
        <span>{{permission}}</span>
      </span>
    </div>
  </div>
</div>
