<h1 class='page-header'>Available Commands</h1>

<loading      loader="commands"></loading>
<server-error loader="commands"></server-error>
<empty        loader="commands" label="commands"></empty>

<div ng-if="commands.loaded && !commands.error && commands.data.length > 0 && systems != null" class="container-fluid animate-if">
  <div>
    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered" style="width: 100%">
    <thead>
      <tr>
        <th id="th_system">System</th>
        <th id="th_command">Command</th>
        <th id="th_version">Version</th>
        <th id="th_description">Description</th>
        <th id="th_happen"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="command in commands.data | filter:query">
        <td>{{service.getSystemName(command)}}</td>
        <td>{{command.name}}</td>
        <td>{{service.findSystem(command).version}}</td>
        <td>{{ command.description || "No Description Provided" }}</td>
        <td>
          <a
            class="btn btn-primary center-block word-wrap-button"
            ui-sref="command(service.getStateParams(command))">
            Make it Happen!
          </a>
        </td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
