<loading      loader="command"></loading>
<server-error loader="command"></server-error>
<empty        loader="command" label="command"></empty>

<div ng-show="command.loaded && !command.error && template">
  <div ng-bind-html="template"></div>
</div>

<div ng-show="command.loaded && !command.error && system && !template && !manualOverride">
  <h1 class='page-header'>
    <span>System "{{system.display_name || system.name}}" Command "{{command.data.name}}"</span>
    <bg-status class="pull-right" target='system.status'></bg-status>
  </h1>
  <div ng-show=command.data.description style="margin:-15px 3px 20px">
    {{command.data.description}}
  </div>

  <div class="container-fluid">
    <div class="row" ng-if="createError">
      <div class="col-md-offset-1 col-md-10">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h2>
              <span class="fa fa-bug"/>
              <strong>Uh Oh!</strong>
              <span>An error occurred while trying to create this request.</span>
            </h2>
          </div>
          <div class="panel-body">
            <p>
              We try hard not to allow server errors to occur, but sometimes things fall through the cracks.
              Below is what the server had to say about this error.
            </p>
            <dl class="dl-horizontal">
              <dt>Server Message</dt>
              <dd>{{createErrorMessage}}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <form name="ngform" sf-schema="schema" sf-form="form" sf-model="model" ng-submit="submitForm(ngform, model)"/>
        <div uib-alert ng-repeat="alert in alerts" class="alert-danger" close="closeAlert($index)">
          <strong>Uh-oh!</strong>
          <span ng-bind=alert></span>
          <a style="color: blue; cursor:pointer" class='pull-right' ng-click="toggleManualOverride()">Override</a>
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="col-md-4" style="margin-top: 0px">Preview</h3>
        <span class="pull-right">
          <div class="dropdown-container">
            <span style="cursor:pointer" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-cog fa-fw"></i>
              <span class="caret"></span>
            </span>
            <ul class="dropdown-menu pull-right" role="menu">
              <li>
                <a ng-click="toggleManualOverride()">Manual Request Creation</a>
              </li>
              <li>
                <a ng-click="scheduleRequest()">Schedule Request</a>
              </li>
            </ul>
          </div>
        </span>
        <div ui-ace="{ onLoad: loadPreview }" ng-model="jsonValues.model" style="width: 100%;"></div>
      </div>
    </div>

    <div ng-if="config.debugMode" class="row" style="padding-bottom: 35px;">
      <div class="col-md-4">
        <h3>Command</h3>
        <div ui-ace="{ onLoad: loadPreview }" ng-model="jsonValues.command" style="width: 100%; height: 500px;"></div>
      </div>
      <div class="col-md-4">
        <h3>Schema</h3>
        <div ui-ace="{
          onLoad: loadEditor,
          theme: 'dawn',
          mode: 'json'
        }" ng-model="jsonValues.schema" ng-model-options="{ debounce: 1000 }" style="width: 100%; height: 500px;"></div>
      </div>
      <div class="col-md-4">
        <h3>Form</h3>
        <div ui-ace="{
          onLoad: loadEditor,
          theme: 'dawn',
          mode: 'json'
        }" ng-model="jsonValues.form" ng-model-options="{ debounce: 1000 }" style="width: 100%; height: 500px;"></div>
      </div>
    </div>

  </div>
</div>


<div ng-show="command.loaded && !command.error && system && !template && manualOverride">
  <div class="page-header">
    <h1>Manual Request Creation</h1>
    <h4>This page allows the user to manually create a request. Just edit the preview below and "Make Request".</h4>
  </div>

  <div class="container-fluid">

    <div uib-alert class="alert alert-info alert-dismissable">
      <a class="close" data-dismiss="alert">&times;</a>
      We do not suggest overriding schema-form for inexperienced users
    </div>

    <div class="row" ng-if="createError">
      <div class="col-md-offset-1 col-md-10">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h2>
              <span class="fa fa-bug"/>
              <strong>Uh Oh!</strong>
              <span>An error occurred while trying to create this request.</span>
            </h2>
          </div>
          <div class="panel-body">
            <p>
              We try hard not to allow server errors to occur, but sometimes things fall through the cracks.
              Below is what the server had to say about this error.
            </p>
            <dl class="dl-horizontal">
              <dt>Server Message</dt>
              <dd>{{createErrorMessage}}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <div ui-ace="{ onLoad: loadEditor }" ng-model="manualModel"></div>

    <br />

    <button type="button" class="btn btn-warning" ng-click="toggleManualOverride()">Go back</button>
    <button type="button" class="btn btn-primary" ng-click="createRequest(manualModel)">Make Request</button>

    <br />

    <div uib-alert ng-repeat="alert in alerts" class="alert-danger" close="closeAlert($index)">
      <strong>Uh-oh!</strong>
      <span ng-bind=alert></span>
    </div>
</div>
