<h1 class='page-header'>Available Systems</h1>

<loading      loader="systems"></loading>
<server-error loader="systems"></server-error>
<empty        loader="systems" label="systems"></empty>

<div id="systems-container" class="animate-if" ng-if="systems.loaded && !systems.error">

  <div ng-repeat="system in systems.data" class="container-item panel panel-default">
    <div class="panel-heading">
      <h3>
        <span ng-class="util.getIcon(system.icon_name)"></span>
        <span>{{system.display_name || system.name}} v{{system.version}}</span>
      </h3>
    </div>
    <div class="panel-body" style="padding-bottom: 0;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 system-table table-header">Description</div>
          <div class="col-sm-8 system-table">{{ system.description }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4 system-table table-header">Commands</div>
          <div class="col-sm-8 system-table">{{ system.commands.length }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4 system-table table-header" ng-if="system.instances.length > 0">Instances</div>
          <div class="col-sm-8 system-table" ng-if="system.instances.length > 0">{{ system.instances.length }}</div>
        </div>
      </div>
    </div>
    <div class="panel-body" style="padding-top: 0;">
      <div>
        <button type="button" class="btn btn-primary btn-lg btn-block"
            ng-click="exploreSystem(system.id)" style="margin-top: 10px;">
          Explore {{system.name}} commands
        </button>
      </div>
    </div>
  </div>
  <!-- This is ugly but it creates empty panels that ensure the bottom row panels are aligned left -->
  <div class="container-item empty" />
  <div class="container-item empty" />
</div>
