<h1 class="page-header">
  <span>Request View</span>

  <span ng-if="request.loaded && !request.error">
    <small>{{request.data.id}}</small>
    <span class="pull-right" ng-if="canRepeat(request.data)">
      <button class="btn btn-success" type="button" ng-click="redoRequest(request.data)">Pour it Again</button>
    </span>
    <span class="pull-right" ng-if="!canRepeat(request.data) && instanceStatus != 'RUNNING'">
        Error: Instance {{instanceStatus}}
    </span>
  </span>
</h1>

<loading      loader="request"></loading>
<server-error loader="request"></server-error>
<empty        loader="request" label="request"></empty>

<div ng-if="request.loaded && !request.error">
  <ol id="breadcrumbs" class="breadcrumb" ng-show="request_tree.length > 1">
    <li ng-repeat="request in request_tree = getParentTree(request.data)" ng-class="{active: $last}"
      ><span ng-if="!$last"><a ng-href="#!/requests/{{request.id}}">{{request.command}}</a></span
      ><span ng-if="$last">{{request.command}}</span>
    </li>
  </ol>

  <div class="container-fluid animate-if">
    <table id="requestTable" class="table">
      <thead>
        <tr>
          <th>Command</th>
          <th>System</th>
          <th>System Version</th>
          <th ng-if="showColumn('instance_name')">Instance Name</th>
          <th>Status</th>
          <th ng-if="showColumn('error_class')">Error Type</th>
          <th>Created</th>
          <th>Updated</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-click="toggleChildren()">
          <td>
            <span id="chevron" class="fa fa-chevron-right" ng-if="hasChildren(request.data)"
                  ng-class="{'chevron-rotate': !childrenCollapsed}">
            </span>{{request.data.command}}</td>
          <td>{{request.data.metadata.system_display_name || request.data.system}}</td>
          <td>{{request.data.system_version}}</td>
          <td ng-if="showColumn('instance_name')">{{request.data.instance_name}}</td>
          <td>{{request.data.status}}
            <span uib-popover="{{statusDescriptions[request.data.status]}}"
                popover-animation="true" popover-placement="right" popover-trigger="'mouseenter'"
                popover-title="{{request.data.status}}" style="color: gray; padding-top: 5px">
              <span class="glyphicon glyphicon-info-sign"></span>
            </span>
          </td>
          <td ng-if="showColumn('error_class')">{{request.data.error_class}}</td>
          <td>{{formatDate(request.data.created_at)}}</td>
          <td>{{formatDate(request.data.updated_at)}}</td>
          <td>{{request.data.comment}}</td>
        </tr>

        <tr class="child-row slide" ng-repeat="child in children">
          <td>
            <div>
              <span class="fa fa-chevron-right" style="visibility: hidden" />
              <a class="child-link" ng-href="#!/requests/{{child.id}}">{{child.command}}</a>
            </div>
          </td>
          <td><div>{{child.metadata.system_display_name || child.system}}</div></td>
          <td><div>{{child.system_version}}</div></td>
          <td ng-if="showColumn('instance_name')"><div>{{child.instance_name}}</div></td>
          <td><div>{{child.status}}</div></td>
          <td ng-if="showColumn('error_class')"><div>{{child.error_class}}</div></td>
          <td><div>{{formatDate(child.created_at)}}</div></td>
          <td><div>{{formatDate(child.updated_at)}}</div></td>
          <td><div>{{child.comment}}</div></td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-6">
        <div style="margin-bottom: 10px;">
          <span class="h3">Output</span>
          <span ng-show="formattedAvailable && format_error === undefined" style="margin-top: 9px" class="pull-right">
            <input bs-switch ng-model="showFormatted" switch-size="mini" type="checkbox" switch-label-width="0"
                   switch-handle-width="70" switch-on-text="Collapsible" switch-off-text="Raw">
          </span>
          <span ng-show="formatErrorTitle !== undefined" class="pull-right" uib-popover="{{formatErrorMsg}}"
                popover-animation="true" popover-placement="left" popover-trigger="'mouseenter'"
                popover-title="{{formatErrorTitle}}" style="color: gray; padding-top: 5px">
            <span class="glyphicon glyphicon-info-sign" style="font-size: 26px"></span>
          </span>
        </div>
        <div style="position: relative;">
          <pre id="rawOutput" ng-hide="showFormatted">{{rawOutput}}</pre>
          <div id="formattedOutput" ng-show="showFormatted">
            <div ui-ace="{ onLoad: loadPreview }" ng-model="formattedOutput"
              ng-if="formattedAvailable && format_error === undefined" style="width: 100%;"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div style="margin-bottom: 10px;">
          <span class="h3">Parameters</span>
        </div>
        <div ui-ace="{ onLoad: loadPreview }" ng-model="formattedParameters" style="width: 100%;"></div>
      </div>
    </div>
  </div>
</div>
