<h1 class="page-header">
  <span>System</span>
  <span ng-if="responseState(response) === 'success'">
    <small>
      {{system.data.display_name || system.data.name}}-{{system.data.version}}
    </small>
  </span>
</h1>

<fetch-data response="response"></fetch-data>

<div ng-if="responseState(response) === 'success'">
  <div class="tagline">
    {{system.data.description || "No Description Provided."}}
  </div>

  <div class="container-fluid animate-if">
    <table
        datatable="ng"
        dt-options="dtOptions"
        valign="center"
        class="table table-striped table-bordered w-100">
      <thead>
        <tr>
          <th id="th_system">System</th>
          <th id="th_command">Command</th>
          <th id="th_version">Version</th>
          <th id="th_description">Description</th>
          <th id="th_happen"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="command in system.data.commands | filter:query">
          <td>{{system.data.display_name || system.data.name}}</td>
          <td>{{command.name}}</td>
          <td>{{system.data.version}}</td>
          <td>{{ command.description || "No Description Provided" }}</td>
          <td><a class="btn btn-primary center-block" ui-sref="command(getCommandStateParams(command))">Make it Happen!</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
