<h1 ng-if="system.error" class="page-header">
  System not found
</h1>

<loading      loader="system"></loading>
<server-error loader="system"></server-error>
<empty        loader="system" label="system"></empty>

<div ng-if="system.loaded && !system.error && systems != null">
  <h1 class='page-header'>
    <span>System "{{system.data.display_name || system.data.name}}"</span>
    <span>{{system.data.version}}</span>
    <small>- {{system.data.description || "No Description Provided."}}</small>
  </h1>

  <div class="container-fluid animate-if">
    <div>
      <table valign="center" datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered" style="width: 100%">
      <thead>
        <tr>
          <th id="th_system">System</th>
          <th id="th_command">Command</th>
          <th id="th_version">Version</th>
          <th id="th_description">Description</th>
          <th id="th_happen"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="command in system.data.commands | filter:query">
          <td>{{system.data.display_name || system.data.name}}</td>
          <td>{{command.name}}</td>
          <td>{{system.data.version}}</td>
          <td>{{ command.description || "No Description Provided" }}</td>
          <td><a class="btn btn-primary center-block" ui-sref="command({command_id: command.id})">Make it Happen!</a></td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>