<h1 class="page-header" ng-cloak>About {{config.applicationName}}</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Heplful Links</div>
        <div class="panel-body">
          <ul>
            <li>
              <a href="{{config.urlPrefix}}swagger/index.html?config={{config.urlPrefix}}config/swagger">Open API documentation</a> - {{config.applicationName}} uses OpenAPI Documentation for our ReST Interface.
            </li>
            <li ng-if="config.metricsUrl">
              <a href="{{config.metricsUrl}}">Metrics</a> - Link to the configured metrics backend.
            </li>
            <li>
              <a href="https://grafana.com/dashboards/6621">Grafana Dashboard ({{config.applicationName}})</a> - A grafana dashboard for monitoring {{config.applicationName}} performance.
            </li>
            <li>
              <a href="https://grafana.com/dashboards/6624">Grafana Dashboard (Plugins)</a> - A grafana dashboard for monitoring {{config.applicationName}} plugin performance.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <fetch-data response="response" hide="empty"></fetch-data>

      <div class="animate-if" ng-if="responseState(response) === 'success'">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">Version Information</div>
            <div class="panel-body">
              <p>
                {{config.applicationName}} is made up of multiple components.
                Their versions are listed below.
              </p>
            </div>
            <table class="table table-hover">
              <tr>
                <th scope="col">Component Name</th>
                <th scope="col">Version</th>
              </tr>
              <tr>
                <td>Beer Garden</td>
                <td>{{ data.beer_garden_version }}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">Component Status</div>
            <div class="panel-body">
              <p>Listed below is the current status of the components</p>
            </div>
            <table class="table table-hover">
              <tr>
                <td>Beer Garden</td>
                <td><span class="label label-success">RUNNING</span></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
