<h1 class="page-header" ng-cloak>About {{config.applicationName}}</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Heplful Links</div>
        <div class="panel-body">
          <ul>
            <li>
              <a
                href="{{config.urlPrefix}}swagger/index.html?config={{config.urlPrefix}}config/swagger"
                >Open API documentation</a
              >
              - {{config.applicationName}} uses OpenAPI Documentation for our
              ReST Interface.
            </li>
            <li ng-if="config.metricsUrl">
              <a href="{{config.metricsUrl}}">Metrics</a> - Link to the
              configured metrics backend.
            </li>
            <li>
              <a href="https://grafana.com/dashboards/6621"
                >Grafana Dashboard ({{config.applicationName}})</a
              >
              - A grafana dashboard for monitoring {{config.applicationName}}
              performance.
            </li>
            <li>
              <a href="https://grafana.com/dashboards/6624"
                >Grafana Dashboard (Plugins)</a
              >
              - A grafana dashboard for monitoring {{config.applicationName}}
              plugin performance.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <fetch-data response="response" hide="empty"></fetch-data>

      <div class="animate-if" ng-if="responseState(response) === 'success'">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">Version Information</div>
            <div class="panel-body">
              <p>
                {{config.applicationName}} is currently on version <b>{{ data.beer_garden_version }}</b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
