<h1 class="page-header">
  <span>Garden Management</span>
  <span class="pull-right" ng-show="responseState(response) !== 'loading'" ng-show="hasGardenPermission('GARDEN_ADMIN')">
    <button type="button" class="btn btn-primary" ng-click="rescan()">
      Rescan Garden Directory
    </button>
    <button type="button" class="btn btn-primary" ng-click="syncGardens()"
      ng-show="hasPermission(user, 'system:update')">
      Sync All
    </button>
  </span>
</h1>
<div id="garden-management-view-alert-list">
  <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + alert.type" close="closeAlert($index)">
    <div class="alert-item">{{alert.msg}}</div>
  </div>
</div>

<fetch-data response="response"></fetch-data>

<div id="gardens-container" class="animate-if" ng-if="responseState(response) === 'success'">
  <div class="container-item panel panel-danger" style="display: block" ng-if="showUnconfigured(data)">

    <div class="panel-heading" style="font-size: 22px">
      <span>Unconfigured Gardens</span>
    </div>

    <div class="panel-body" style="padding-bottom: 0px">
      <div class="list-group">
        <div class="list-group-item clearfix" ng-repeat="garden in data | filter:isRemoteUnconfigured | orderBy: 'name'">

          <div class="list-group-item clearfix">
            <span style="font-size: 18px">{{garden.name}}</span>
            <div class="btn-toolbar pull-right" ng-if="hasGardenPermission('GARDEN_ADMIN', garden)">
              <div class="btn-group btn-group-sm pull-right">
                <button type="button" class="btn btn-default fa fa-play" ng-click="startGarden(garden)"
                  title="Start Garden {{garden.name}}"></button>
                <button type="button" class="btn btn-default fa fa-stop" ng-click="stopGarden(garden)"
                  title="Stop Garden {{garden.name}}"></button>
                <button type="button" class="btn btn-default fa fa-trash" ng-click="deleteGarden(garden)"
                  title="Delete Garden {{garden.name}}"></button>
              </div>
            </div>
          </div>
          <div class="list-group-item clearfix" ng-repeat="connection in garden.receiving_connections | orderBy: 'api'">
            <bg-status target="connection.status"></bg-status>
            <span style="padding: 0 10px" title="{{getConnectionUrl(connection, true)}}">{{connection.api}}</span>
            <span class="btn-toolbar pull-right" ng-if="!garden.has_parent && hasGardenPermission('GARDEN_ADMIN', garden)">
              <span class="btn-group btn-group-xs">
                <button type="button" class="btn btn-default fa fa-play"
                  ng-click="startReceivingConnection(garden, connection.api)"
                  title="Start Connection {{connection.api}}"></button>
                <button type="button" class="btn btn-default fa fa-stop"
                  ng-click="stopReceivingConnection(garden, connection.api)"
                  title="Stop Connection {{connection.api}}"></button>
              </span>
            </span>
          </div>

        </div>


      </div>

    </div>

  </div>

  <div class="container-item panel panel-info" style="display: block" ng-if="showUpstream(data)">
    <div class="panel-heading" style="font-size: 22px">
      <span>Upstream</span>
    </div>
    <div class="panel-body" style="padding-bottom: 0px" ng-repeat="garden in data | filter:isLocal">
      <div class="list-group">
        <div class="panel-heading" style="font-size: 22px">
          <span>Publishing</span>
        </div>
        <div class="list-group-item clearfix" ng-repeat="connection in garden.publishing_connections  | orderBy: 'api'">
          <bg-status target="connection.status"></bg-status>
          <span style="padding: 0 10px" title="{{getConnectionUrl(connection, false)}}">{{connection.api}}</span>
        </div>
      </div>

    </div>
  </div>

  <div ng-repeat="garden in data | filter:isRemoteConfigured | orderBy: 'name'" class="container-item panel panel-default"
    style="display: block">
    <div class="panel-heading" style="font-size: 22px">
      <span uib-popover-html="getGardenInsights(garden)" popover-trigger="'mouseenter'" popover-title=""
        popover-animation="true" popover-placement="bottom-left">{{garden.name}}</span>

      <div class="btn-toolbar pull-right">
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-default fa fa-info-circle" ng-click="getGardenInfo(garden)"
            title="Metrics for {{garden.name}}"></button>        
        </div>
        <div class="btn-group btn-group-sm pull-right" ng-if="hasGardenPermission('GARDEN_ADMIN', garden)">
          <button type="button" class="btn btn-default fa fa-play" ng-click="startGarden(garden)"
            ng-if="isChild(garden)" title="Start Garden {{garden.name}}"></button>
          <button type="button" class="btn btn-default fa fa-stop" ng-click="stopGarden(garden)"
            ng-if="isChild(garden)" title="Stop Garden {{garden.name}}"></button>
          <button type="button" class="btn btn-default fa fa-refresh" ng-click="syncGarden(garden)"
            title="Sync Garden {{garden.name}}"></button>
        </div>
        <div class="btn-group btn-group-sm pull-right">
          <button type="button" class="btn btn-default fa fa-trash" ng-click="deleteGarden(garden)"
            title="Delete Garden {{garden.name}}"></button>
        </div>
      </div>
    </div>

    <div class="panel-body" style="padding-bottom: 0px">
      <div class="list-group" ng-if="garden.receiving_connections.length > 0">
        <div class="panel-heading" style="font-size: 22px">
          <span>Receiving</span>
        </div>
        <div class="list-group-item clearfix" ng-repeat="connection in garden.receiving_connections | orderBy: 'api'">
          <bg-status target="connection.status"></bg-status>
          <span style="padding: 0 10px" title="{{getConnectionUrl(connection, true)}}">{{connection.api}}</span>
          <span class="btn-toolbar pull-right" ng-if="isChild(garden) && hasGardenPermission('GARDEN_ADMIN', garden)">
            <span class="btn-group btn-group-xs">
              <button type="button" class="btn btn-default fa fa-play"
                ng-click="startReceivingConnection(garden, connection.api)"
                title="Start Connection {{connection.api}}"></button>
              <button type="button" class="btn btn-default fa fa-stop"
                ng-click="stopReceivingConnection(garden, connection.api)"
                title="Stop Connection {{connection.api}}"></button>
            </span>
          </span>
        </div>
      </div>
      <div class="list-group"  ng-if="garden.publishing_connections.length > 0">
        <div class="panel-heading" style="font-size: 22px">
          <span>Publishing</span>
        </div>
        <div class="list-group-item clearfix" ng-repeat="connection in garden.publishing_connections | orderBy: 'api'" ng-if="connection.status != 'NOT_CONFIGURED'">
          <bg-status target="connection.status"></bg-status>
          <span style="padding: 0 10px" title="{{getConnectionUrl(connection, false)}}">{{connection.api}}</span>
          <span class="btn-toolbar pull-right" ng-if="isChild(garden) && hasGardenPermission('GARDEN_ADMIN', garden)">
            <span class="btn-group btn-group-xs">
              <button type="button" class="btn btn-default fa fa-play"
                ng-click="startPublishingConnection(garden, connection.api)"
                title="Start Connection {{connection.api}}"></button>
              <button type="button" class="btn btn-default fa fa-stop"
                ng-click="stopPublishingConnection(garden, connection.api)"
                title="Stop Connection {{connection.api}}"></button>
            </span>
          </span>
        </div>
      </div>

    </div>

  </div>
  <div class="container-item empty"></div>
  <div class="container-item empty"></div>
</div>