<h1 class='page-header'>
  <span>Role Management</span>
</h1>

<fetch-data response="response"></fetch-data>

<div class="container-fluid animate-if"
     ng-show="responseState(response) === 'success'">
  <div ng-show="!config.authEnabled" uib-alert class="alert alert-danger">
    Warning - Beergarden authorization is currently disabled. Changes made here
    will be persisted, but permissions will not be enforced. Contact your
    administator to enable this feature.
  </div>
  <div class="row">
    <div class="col-md-2">
      <h3 style="text-align: center;">Roles</h3>
    </div>
    <div class="col-md-3">
      <h3 style="text-align: center;">Add Permission to Role</h3>
    </div>
    <div class="col-md-6">
      <h3 style="text-align: center;">Edit Permissions</h3>
    </div>
  </div>
  <form>
    <div class="row form-group">
      <div class="col-md-2">
        <select class="w-100" size="{{roles.length}}"
          title="Select Role"
          ng-model="selectedRole"
          ng-options="role.name for role in roles"
          ng-change="checkPermissionsBug()"
          >
        </select>
        <br>
        <br>
          <input type="submit" class="btn btn-success"
            ng-click="doCreate()"
            ng-show="hasPermission(user, 'ADMIN', is_local=true)"
            value="Create Role" />

          <input type="submit" class="btn btn-danger"
            value="Remove Role"
            ng-click="doDelete(selectedRole.id)"
            ng-show="hasPermission(user, 'ADMIN', is_local=true)"
            ng-disabled="canEdit()"
            confirm="Are you sure you want to remove this role?" />

      </div>
      <div class="col-md-3">
        <div>
          <label>Select/Enter Namespace: </label><br>
          <select name="new_namespace" ng-model="new_namespace">
            <option value="">LOCAL</option>
            <option ng-repeat="namespace in namespaces" value="{{namespace}}">{{namespace}}</option>
          </select>
          <input ng-model="new_namespace" title="Enter Namespace">
          <br>
          <label>Select Access: </label><br>
          <select name="new_access" ng-model="new_access">
            <option value=""></option>
            <option value="READ">READ</option>
            <option value="CREATE">CREATE</option>
            <option value="MAINTAINER">MAINTAINER</option>
            <option value="ADMIN">ADMIN</option>
          </select>
          <br>
          <br>
          <input type="submit" class="btn btn-primary"
            ng-click="addPermission()"
            ng-disabled="canEdit()"
            ng-show="hasPermission(user, 'ADMIN', is_local=true)"
            value="Add Permission" />
        </div>
        </div>
      <div class="col-md-6">
        <table
          id="commandIndexTable"
          datatable="ng"
          dt-options="dtOptions"
          dt-instance="instanceCreated"
          class="table table-striped table-bordered"
          style="width: 100%">
          <thead>
            <tr>
              <th style="width: 10%;" scope="col">Namespace</th>
              <th style="width: 10%;" scope="col">Access</th>
              <th style="width: 10%;" scope="col">Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="selectedPermission in selectedRole.permissions ">
              <td>{{selectedPermission.namespace || "LOCAL"}}</td>
              <td>
                <select name="access"
                        ng-model="selectedPermission.access"
                        ng-disabled="canEdit()"
                        ng-change="updatePermission(selectedPermission)">
                  <option value="READ">READ</option>
                  <option value="CREATE">CREATE</option>
                  <option value="MAINTAINER">MAINTAINER</option>
                  <option value="ADMIN">ADMIN</option>
                </select>
              </td>
              <td>
                <a class="btn btn-danger"
                   ng-disabled="(canEdit() && hasPermission(user, 'ADMIN', is_local=true))"
                   ng-click="removePermission(selectedPermission)"
                >Remove Permission</a>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </form>

  <div uib-alert
       ng-repeat="alert in alerts"
       ng-class="'alert-' + alert.type"
       close="closeAlert($index)">
    {{alert.msg}}
  </div>
</div>
