<h1 class='page-header'>
  <span>Garden Management</span>
</h1>
  
<fetch-data response="response"></fetch-data>
  
<div id="gardens-container"
     class="animate-if"
     ng-if="responseState(response) === 'success'">

  <div ng-repeat="garden in data" class="container-item panel panel-default">
    <div class="panel-heading">
      <h3>
        <span>{{garden.name}}</span>
      </h3>
    </div>
    <div class="panel-body" style="padding-bottom: 0;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 garden-table table-header">Status</div>
          <div class="col-sm-8 garden-table">{{ garden.status }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4 garden-table table-header">Namespaces</div>
          <div class="col-sm-8 garden-table">{{ garden.namespaces.length }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4 garden-table table-header">Systems</div>
          <div class="col-sm-8 garden-table">{{ garden.systems.length }}</div>
        </div>
      </div>
    </div>
    <div class="panel-body" style="padding-bottom: 0;">
      <div>
        <button type="button" class="btn btn-primary btn-lg btn-block"
            ng-click="editGarden(garden)" style="...">
          Edit {{garden.name}} configurations
        </button>
      </div>
    </div>
  </div>
  <!-- This is ugly but empty panels ensure the bottom row is left-aligned -->
  <div class="container-item empty" />
  <div class="container-item empty" />
</div>