<h1 class="page-header">
  User Management
  <div class="pull-right">
    <button
      type="button"
      class="btn btn-primary"
      ng-click="doCreate()"
      ng-show="hasPermission('GARDEN_ADMIN', global=true)"
    >
      Create User
    </button>
  </div>
</h1>

<div
  class="container-fluid animate-if"
  ng-show="responseState(response) === 'success'"
>
  <div ng-show="!authEnabled()" uib-alert class="alert alert-danger">
    Warning - Beergarden authorization is currently disabled. Changes made here
    will be persisted, but permissions will not be enforced. Contact your
    administator to enable this feature.
  </div>
  <div
    class="container-fluid animate-if"
    ng-if="responseState(response) === 'success'"
  >
    <table
      datatable="ng"
      dt-options="dtOptions"
      class="table table-striped table-bordered"
      style="width: 100%"
    >
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Max Permission</th>
          <th scope="col">Last Login</th>
          <th scope="col">Roles</th>
          <th scope="col">Remote Roles</th>
          <th scope="col">Remote Garden Accounts</th>
          <th scope="col">Active User Token</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users | filter:query">
          <td>{{user.username}}</td>
          <td>{{maxPermission(user)}}</td>
          <td>{{getLastAuth(user)}}</td>
          <td>
            <div ng-repeat="role in user.local_roles">
              <div title="{{roleTitle(role)}}">{{role.name}}</div>
            </div>
          </td>
          <td>
            <div ng-repeat="role in user.remote_roles">
              <div title="{{roleTitle(role)}}">{{role.name}}</div>
            </div>
          </td>
          <td>
            <div ng-repeat="remote_user in user.remote_user_mapping">
              <div>{{remote_user.target_garden}}[{{remote_user.username}}]</div>
            </div>
          </td>
          <td>
            <i
              ng-if="user.metadata !== undefined && user.metadata.has_token !== undefined && user.metadata.has_token"
              class="glyphicon glyphicon-ok"
              style="color: green"
              title="Active"
            ></i>
            <i
            ng-if="user.metadata === undefined || user.metadata.has_token === undefined ||  !user.metadata.has_token"
              class="glyphicon glyphicon-remove"
              style="color: red"
              title="Inactive"
            ></i>
          </td>
          <td>
            <button
              class="fa fa-trash pull-right"
              style="font-size: 20px"
              ng-click="doDelete(user)"
              title="Delete User"
            ></button>
            <button
              class="fa fa-sign-out pull-right"
              style="font-size: 20px"
              ng-click="doRevokeToken(user)"
              title="Delete User Token"
            ></button>
            <button
              class="fa fa-user-plus pull-right"
              style="font-size: 20px"
              ng-click="showAddRemoveRoles(user)"
              title="Add/Remove Roles"
            ></button>
            <button
              class="fa fa-globe pull-right"
              style="font-size: 20px"
              ng-click="showUserGardenAccounts(user)"
              title="Garden Account Mapping"
            ></button>
            <!-- <button
              class="fa fa-pencil pull-right"
              style="font-size: 20px"
              title="Change Password"
            ></button>     -->
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
