<h1 class="page-header">
  {{data.username}}
  <div class="pull-right" ng-show="responseState(response) === 'success'">
    <input
      type="submit"
      class="btn btn-danger w-100"
      ng-click="doDelete(data.username)"
      ng-show="hasPermission(user, 'user:delete')"
      confirm="Are you sure you want to remove user {{data.username}}?"
      value="Remove User"
    />
  </div>
</h1>

<div
  uib-alert
  ng-repeat="alert in alerts"
  ng-class="'alert-' + alert.type"
  close="closeAlert($index)"
>
  {{alert.msg}}
</div>
<div ng-if="displaySyncStatus">
  <b>Sync Status</b>
  <table
    datatable="ng"
    dt-options="{paging: false, searching: false, info: false}"
    class="table table-striped table-bordered"
    style="width: 25%"
  >
    <thead>
      <th>Garden</th>
      <th>Synced</th>
    </thead>
    <tbody>
      <tr ng-repeat="(garden, synced) in data.sync_status">
        <td>{{garden}}</td>
        <td>
          <i
            ng-if="synced"
            class="glyphicon glyphicon-ok"
            style="color: green"
            title="true"
          ></i>
          <i
            ng-if="!synced"
            class="glyphicon glyphicon-remove"
            style="color: red"
            title="false"
          ></i>
          <span hidden>{{synced}}</span>
        </td>
      </tr>
    </tbody>
  </table>

  <hr />
</div>

<div
  id="user-view-container"
  class="animate-if container-fluid"
  ng-if="responseState(response) === 'success'"
>
  <div class="row">
    <form
      name="userform"
      sf-schema="userSchema"
      sf-form="userForm"
      sf-model="userModel"
      ng-submit="submitUserForm(userform, userModel)"
    />
  </div>
</div>
