<h1 class="page-header">
  <span>Garden Management</span>
  <span class="pull-right" ng-show="responseState(response) !== 'loading'">
    <button
      type="button"
      class="btn btn-primary"
      ng-click="rescan()"
      ng-show="hasPermission(user, 'garden:create')"
    >
      Rescan Garden Directory
    </button>
    <button
      type="button"
      class="btn btn-primary"
      ng-click="syncGardens()"
      ng-show="hasPermission(user, 'system:update')"
    >
      Sync All
    </button>
  </span>
</h1>
<div id="garden-management-view-alert-list">
  <div uib-alert
    ng-repeat="alert in alerts"
    ng-class="'alert-' + alert.type"
    close="closeAlert($index)"
  >
    <div class="alert-item">{{alert.msg}}</div>
  </div>
</div>

<fetch-data response="response"></fetch-data>

<div
  id="gardens-container"
  class="animate-if"
  ng-if="responseState(response) === 'success'"
>

  <div ng-repeat="garden in data" class="container-item panel panel-default" style="display: block">
    <div class="panel-heading" style="font-size: 22px">
      <span>{{findGardenLabel(garden, garden.name)}}</span>

      <div class="btn-toolbar pull-right">
        <div class="btn-group btn-group-sm">
          <button
            type="button"
            class="btn btn-default fa fa-play"
            ng-click="startSystem(system)"
            title="Start Garden {{garden.name}}"
          ></button>
          <button
            type="button"
            class="btn btn-default fa fa-stop"
            ng-click="stopSystem(system)"
            title="Stop Garden {{garden.name}}"
          ></button>
          <button
            type="button"
            class="btn btn-default fa fa-refresh"
            ng-click="reloadSystem(system)"
            title="Reload Garden {{garden.name}}"
          ></button>
          <button
            type="button"
            class="btn btn-default fa fa-exchange"
            ng-click="reloadSystem(system)"
            title="Sync Garden {{garden.name}}"
          ></button>
        </div>
        <div class="btn-group btn-group-sm pull-right">
          <button
            type="button"
            class="btn btn-default fa fa-trash-o"
            ng-click="deleteSystem(system)"
            title="Delete Garden {{garden.name}}"
          ></button>
        </div>
      </div>
    </div>

    <div class="panel-body" style="padding-bottom: 0px">
      <div class="list-group">
        <div class="list-group-item clearfix">
          <bg-status target="'ERROR'"></bg-status>
          <span style="padding: 0 10px">Error with {{garden.name}}, please check logs for additional details</span>
        </div>
      </div>
      <div class="list-group">
        <!--
        <div class="list-group-item clearfix">
          <div
              style="
                display: inline-block;
                padding-top: 3px;
                padding-right: 16px;
              "
            >
              <span>{{findGardenLabel(garden, garden.name)}}</span>
          </div>
          <div class="btn-toolbar pull-right" ng-show="garden.id != null && garden.connection_type != 'LOCAL'">
            <div class="btn-group btn-group-sm">
              <button
                type="button"
                class="btn btn-default fa fa-play"
                ng-click="startSystem(system)"
                title="Start Garden {{garden.name}}"
              ></button>
              <button
                type="button"
                class="btn btn-default fa fa-stop"
                ng-click="stopSystem(system)"
                title="Stop Garden {{garden.name}}"
              ></button>
              <button
                type="button"
                class="btn btn-default fa fa-refresh"
                ng-click="reloadSystem(system)"
                title="Reload Garden {{garden.name}}"
              ></button>
              <button
                type="button"
                class="btn btn-default fa fa-exchange"
                ng-click="reloadSystem(system)"
                title="Sync Garden {{garden.name}}"
              ></button>
            </div>
            <div class="btn-group btn-group-sm pull-right">
              <button
                type="button"
                class="btn btn-default fa fa-trash-o"
                ng-click="deleteSystem(system)"
                title="Delete Garden {{garden.name}}"
              ></button>
            </div>
          </div>
        </div> -->

          <div class="list-group-item clearfix">
            <bg-status target="'RUNNING'"></bg-status>
            <span style="padding: 0 10px">HTTP</span>
            <span class="btn-toolbar pull-right">
              <span class="btn-group btn-group-xs">
                <button
                    type="button"
                    class="btn btn-default fa fa-play"
                    ng-click="startConnection(garden, 'HTTP')"
                    title="Start Connection HTTP"
                  ></button>
                  <button
                    type="button"
                    class="btn btn-default fa fa-stop"
                    ng-click="stopConnection(garden, 'HTTP')"
                    title="Stop Connection HTTP"
                  ></button>
              </span>
            </span>
          </div>
          <div class="list-group-item clearfix">
            <bg-status target="'STOPPED'"></bg-status>
            <span style="padding: 0 10px">STOMP</span>
            <span class="btn-toolbar pull-right">
              <span class="btn-group btn-group-xs">
                <button
                    type="button"
                    class="btn btn-default fa fa-play"
                    ng-click="startConnection(garden, 'HTTP')"
                    title="Start Connection HTTP"
                  ></button>
                  <button
                    type="button"
                    class="btn btn-default fa fa-stop"
                    ng-click="stopConnection(garden, 'HTTP')"
                    title="Stop Connection HTTP"
                  ></button>
              </span>
            </span>
          </div>
        </div>
        <!--
        <div ng-repeat="connection in getConnections(garden) | orderBy: 'name'" class="list-group-item">
          <bg-status target="RUNNING" ng-show="connection.enabled"></bg-status>
          <bg-status target="STOPPED" ng-show="!connection.enabled"></bg-status>
          <span style="padding: 0 10px">{{connection.name}}</span>
          <span class="btn-toolbar pull-right">
            <span class="btn-group btn-group-xs">
              <button
                  type="button"
                  class="btn btn-default fa fa-play"
                  ng-click="startConnection(garden, connection.name)"
                  title="Start Connection {{connection.name}}"
                ></button>
                <button
                  type="button"
                  class="btn btn-default fa fa-stop"
                  ng-click="stopConnection(garden, connection.name)"
                  title="Stop Connection {{connection.name}}"
                ></button>
            </span>
          </span>
        </div>-->
        <div class="list-group">
          <div class="list-group-item clearfix">
            <div
                style="
                  display: inline-block;
                  padding-top: 3px;
                  padding-right: 16px;
                "
              >
                <span>Metrics</span>              
            </div>
          </div>
          <div class="list-group-item clearfix">
            <div>
              <span>Latency: 9s</span>
            </div>
          </div>
        </div>
        <div class="list-group">
          <div class="list-group-item clearfix">
            <div
                style="
                  display: inline-block;
                  padding-top: 3px;
                  padding-right: 16px;
                "
              >
                <span>Children:</span>              
            </div>
            <div>
              <ul>
                <li>Child A</li>
                <li>Child B</li>
                <li>Child C</li>
              </ul>
              <ul>
                <li ng-repeat="child in garden.children">child.name</li>
              </ul>
            </div>
          </div>
        </div>
      </div>


    <!--
    <div class="panel-heading">
      <h3>
        <span>{{findGardenLabel(garden, garden.name)}}</span>
        <span ng-show="garden.id == null || garden.connection_type == 'LOCAL'"
          >(LOCAL)</span
        >
        <span ng-show="garden.id != null && garden.connection_type != 'LOCAL'"
          >(REMOTE)</span
        >
      </h3>
    </div>
    <div class="panel-body" style="padding-bottom: 0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 garden-table table-header">Status</div>
          <div class="col-sm-8 garden-table">{{ garden.status }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4 garden-table table-header">Namespaces</div>
          <div class="col-sm-8 garden-table">
            {{ garden.namespaces.length }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 garden-table table-header">Systems</div>
          <div class="col-sm-8 garden-table">{{ garden.systems.length }}</div>
        </div>
      </div>
    </div>
    <div class="panel-body" style="padding-bottom: 0">
      <div>
        <button
          type="button"
          class="btn btn-primary btn-lg btn-block"
          ng-click="editGarden(garden)"
          ng-show="hasGardenPermission(user, 'garden:update', garden)"
          style="..."
        >
          Edit {{garden.name}} configuration
        </button>
        <button
          type="button"
          class="btn btn-danger btn-lg btn-block"
          ng-click="deleteGarden(garden.name)"
          style="..."
          ng-show="garden.id != null && garden.connection_type != 'LOCAL' && hasGardenPermission(user, 'garden:delete', garden)"
          confirm="Are you sure you want to delete {{garden.name}}?
                    This will also delete all Systems assocaited with {{garden.name}}."
        >
          Delete {{garden.name}}
        </button>
      </div>
    </div>
  -->
  </div>
  <!-- This is ugly but empty panels ensure the bottom row is left-aligned -->
  <div class="container-item empty" />
  <div class="container-item empty" />
</div>
