<h1 class='page-header'>
  <span>Garden View</span>
  <span class="pull-right" ng-show="responseState(response) !== 'loading'">
    <button type="button"
            class="btn btn-primary"
            ng-click="syncGarden()">Sync</button>
  </span>
</h1>

<fetch-data response="response"></fetch-data>

<div id="garden-view-container"
     class="animate-if container-fluid"
     ng-if="responseState(response) === 'success'">

  <div class="row">
    <h4>Garden Info</h4>
    <div class="row">
      <div class="col-md-2">Name:</div>
      <div class="col-md-2">{{data.name}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Status:</div>
      <div class="col-md-2">{{data.status}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Known Namespaces:</div>
      <div class="col-md-2">
        <ul>
          <li ng-repeat="ns in data.namespaces">{{ns}}</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">Connection Type:</div>
      <div class="col-md-2">{{data.connection_type}}</div>
    </div>
  </div>

  <div class="row">
    <h4>Connected Systems</h4>
    <table
        datatable="ng"
        dt-options="dtOptions"
        class="table table-striped table-bordered"
        style="width: 100%">
      <thead>
        <tr>
          <th id="th_job_name">Namespace</th>
          <th id="th_job_status">System</th>
          <th id="th_system">Version</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="system in data.systems">
          <td><a ui-sref="base.systems({namespace: system.namespace})">{{system.namespace}}</a></td>
          <td>{{system.name}}</td>
          <td><a ui-sref="base.system({namespace: system.namespace, systemName: system.name, systemVersion: system.version})">{{system.version}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div uib-alert
    ng-repeat="alert in alerts"
    ng-class="'alert-' + alert.type"
    close="closeAlert($index)">
      {{alert.msg}}
  </div>

  <div ng-hide="isLocal">
    <h4>Update Connection</h4>
    <div class="container-fluid">
      <div class="row">
        <form
            name="gardenform"
            sf-schema="gardenSchema"
            sf-form="gardenForm"
            sf-model="gardenModel"
            ng-submit="submitGardenForm(gardenform, gardenModel)"/>
      </div>
    </div>
  </div>

</div>
