<h1 class='page-header'>
  {{buildBreadCrumbs()}}
  <ol class="breadcrumb">
    <li ng-if="breadCrumbs.length == 1">{{breadCrumbs[0]}}</li>
    <li ng-if="breadCrumbs.length > 1"><a ui-sref="base.systems()" ng-if="breadCrumbs.length > 0">{{breadCrumbs[0]}}</a></li>
    <li ng-if="breadCrumbs.length > 1"><a ui-sref="base.filterNamespaces({namespace: breadCrumbs[1]})" >{{breadCrumbs[1]}}</a></li>
    <li ng-if="breadCrumbs.length > 2"><a ui-sref="base.filterSystems({namespace: breadCrumbs[1], system: breadCrumbs[2]})" >{{breadCrumbs[2]}}</a></li>
    <li ng-if="breadCrumbs.length > 3"><a ui-sref="base.system({namespace: breadCrumbs[1], systemName: breadCrumbs[2], systemVersion: breadCrumbs[3]})" >{{breadCrumbs[3]}}</a></li>
  </ol>
</h1>

<fetch-data response="response"></fetch-data>

<div class="container-fluid animate-if"
     ng-if="responseState(response) === 'success'">
  <div>

    <table
        datatable="ng"
        dt-options="dtOptions"
        class="table table-striped table-bordered"
        style="width: 100%">
      <thead>
        <tr>
          <th style="width: 10%;">Namespace</th>
          <th style="width: 10%;">System</th>
          <th style="width: 10%;">Version</th>
          <th style="width: 25%;">Command</th>
          <th style="width: 35%;">Description</th>
          <th style="width: 10%;"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="entry in data | filter:getPageFilter">
          <td><a ui-sref="base.filterNamespaces({namespace: entry.namespace})" >{{entry.namespace}}</a></td>
          <td><a ui-sref="base.filterSystems({namespace: entry.namespace, system: entry.system})" >{{entry.system}}</a></td>
          <td><a ui-sref="base.system({namespace: entry.namespace, systemName: entry.system, systemVersion: entry.version})" >{{entry.version}}</a></td>
          <td>{{entry.name}}</td>
          <td>{{entry.description}}</td>
          <td>
            <a class="btn btn-primary center-block word-wrap-button"
              ui-sref="base.commandID({id: entry.id})">Make it Happen!</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
