
<fetch-data response="response"></fetch-data>

<div ng-if="responseState(response) === 'success'">
  <h1 class='page-header'>
    Systems
    </h1>
  {{buildBreadCrumbs()}}
    <ol class="breadcrumb">
      <li ng-if="breadCrumbs.length > 1"><a ui-sref="base.systems()" ng-if="breadCrumbs.length > 0">{{breadCrumbs[0]}}</a></li>
      <li ng-if="breadCrumbs.length > 1"><a ui-sref="base.filterNamespaces({namespace: breadCrumbs[1]})" >{{breadCrumbs[1]}}</a></li>
      <li ng-if="breadCrumbs.length > 2"><a ui-sref="base.filterSystems({namespace: breadCrumbs[1], system: breadCrumbs[2]})" >{{breadCrumbs[2]}}</a></li>
    </ol>

  <div class="container-fluid animate-if">
    <table
        datatable="ng"
        dt-options="dtOptions"
        class="table table-striped table-bordered"
        style="width: 100%">
      <thead>
        <tr>
          <th>Namespace</th>
          <th>System</th>
          <th>Version</th>
          <th>Description</th>
          <th>Commands</th>
          <th>Instances</th>
          <th></th>
        </tr>

      </thead>
      <tbody>

        <tr ng-repeat="system in data | filter:getPageFilter" >
          <td><a ui-sref="base.filterNamespaces({namespace: system.namespace})">{{system.namespace}}</a></td>
          <td><a ui-sref="base.filterSystems({namespace: system.namespace, system: system.name})">{{system.name}}</a></td>
          <td>{{system.version}}</td>
          <td>{{system.description || "No Description Provided" }}</td>
          <td>{{system.commands.length}}</td>
          <td>{{system.instances.length}}</td>
          <td>
            <a ui-sref="exploreSystem(system)"
               class="btn btn-primary center-block"> Explore {{system.name}} commands</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
