<h1 class="page-header">
  <span ng-if="responseState(response) !== 'success'">System View</span>
  <span ng-if="responseState(response) === 'success'">
    {{data.display_name || data.name}} v{{data.version}}
  </span>
</h1>

<fetch-data response="response"></fetch-data>

<div ng-if="responseState(response) === 'success'">
  <div class="tagline">
    {{data.description || "No Description Provided."}}
  </div>

  <div class="container-fluid animate-if">
    <table
        datatable="ng"
        dt-options="dtOptions"
        valign="center"
        class="table table-striped table-bordered w-100">
      <thead>
        <tr>
          <th id="th_system">System</th>
          <th id="th_command">Command</th>
          <th id="th_version">Version</th>
          <th id="th_description">Description</th>
          <th id="th_happen"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="command in data.commands | filter:query">
          <td>{{data.display_name || data.name}}</td>
          <td>{{command.name}}</td>
          <td>{{data.version}}</td>
          <td>{{ command.description || "No Description Provided" }}</td>
          <td>
            <!-- <a ui-sref="base.namespace.system.command(getCommandStateParams(command))"
               class="btn btn-primary center-block">Make it Happen!</a> -->
            <a ui-sref="base.command({systemName: data.name, systemVersion: data.version, namespace: data.namespace, commandName: command.name})"
               class="btn btn-primary center-block">Make it Happen!</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
