@import "./App.css";

.p-panel-header {
  background-color: var(--bluegray-800);
}

.basic.p-button {
  color: var(--contrast-background-color);
  background-color: transparent;
}

.basic.p-button.p-button-raised {
  border-color: var(--bluegray-800);
  background-color: var(--bluegray-800);
}

.unassociated-runner-header {
  background-color: var(--red-900);
}
.p-tabview-selected .p-tabview-title {
  color: var(--gray-50);
}
