# The bartender service unit file

[Unit]
Description=Beergarden backend
PartOf=beer-garden.service

[Service]
Type=simple
User=beer-garden
ExecStart=/opt/beer-garden/bin/bartender -c /opt/beer-garden/conf/bartender-config.yml
