# Dependencies
-e git+https://github.com/beer-garden/brewtils@v3#egg=brewtils
apispec < 0.39
apscheduler < 4
mongoengine < 0.21
more-itertools < 9
motor < 3
passlib < 1.8
prometheus_client < 1
pyrabbit2 < 2
pytz < 2021
ruamel.yaml < 0.17
tornado < 7

# Documentation Dependencies
sphinx < 2
sphinx_rtd_theme

# Build / Test Dependencies
black ; python_version > "3.5"
codecov
coverage
flake8
flake8-bugbear
mock
mongomock
pytest < 4
pytest-mock
pytest-lazy-fixture
pytest-tornado
