# Dependencies
-e git+https://github.com/beer-garden/brewtils@develop#egg=brewtils
apispec < 0.39
apscheduler < 4
marshmallow < 3
mongoengine < 0.21
more-itertools < 9
motor < 3
passlib < 1.8
prometheus_client < 1
pyrabbit2 < 2
pytz < 2021
ruamel.yaml < 0.17
stomp.py < 6.2.0
tornado < 7

# Documentation Dependencies
sphinx < 2
sphinx_rtd_theme < 1

# Build / Test Dependencies
black
codecov
coverage
flake8
flake8-bugbear
mock
mongomock
pytest < 7
pytest-mock
pytest-lazy-fixture
pytest-tornado
