# The Beergarden service unit file

[Unit]
Description=Beergarden Service

[Service]
Type=simple
User=beer-garden
Group=beer-garden
UMask=0002
ExecStart=/opt/beer-garden/bin/beergarden -c /opt/beer-garden/conf/config.yaml

[Install]
WantedBy=multi-user.target
