<div class="animate-if">
  <h3 class="text-center">Now select the command you would like</h3>

  <table
    datatable="ng"
    dt-options="dtOptions"
    class="table table-striped table-bordered"
    style="width: 100%"
  >
    <thead>
      <tr>
        <th id="th_command_name">Command Name</th>
        <th id="th_command_description">Description</th>
        <th id="th_selector">Select this Command</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="command in system.commands | filter:query">
        <td>{{command.name}}</td>
        <td>{{command.description || "No Description Given"}}</td>
        <td>
          <a
            class="btn btn-primary btn-block btn-sm"
            ui-sref="base.jobscreaterequest({system: system, command: command})"
            role="button"
            >Select</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
