# The Beergarden service unit file

[Unit]
Description=Beergarden Service

[Service]
Type=simple
ExecStart=/opt/beer-garden/bin/beer-garden -c /opt/beer-garden/conf/config.yaml -l /opt/beer-garden/conf/logging.yaml

[Install]
WantedBy=multi-user.target
