name: Develop Push

on:
  push:
    branches:
      - develop

jobs:
  docker-publish-unstable:
    name: Docker Publish
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and Publish Unstable Images
        run: make publish-docker-unstable
