name: Integration-Actions

on: pull_request # Used only for testing

#on:
#  schedule:
#    - cron: '0 0 * * *' # Every Day at Midnight

jobs:
  Setup-Release-Info:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

    outputs:
      python-versions: "[ '2.7', '3.4', '3.5', '3.6', '3.7', '3.8', '3.9']"
      python-default: "['3.7']"
      brewtils-versions: "['3.0.0','3.0.1','3.0.2','3.1.0','3.2.0','latest']"
      brewtils-default: "['latest']"
      beer-garden-docker-images: "['3.0.0','3.0.1','3.0.2','3.0.3','3.0.4','3.0.5','3.1.0','3.1.1','3.2.0','3','latest']"
      beer-garden-docker-default: "['latest']"
      os-default: "['ubuntu-18.04']"

  Remote-Plugin-Testing:
    needs: Setup-Release-Info
    runs-on: ${{ matrix.os }}
    if: "false"

    strategy:
      matrix:
        python-version: ${{fromJson(needs.Setup-Release-Info.outputs.python-versions)}}
        brewtils: ${{fromJson(needs.Setup-Release-Info.outputs.brewtils-versions)}}
        os: ${{fromJson(needs.Setup-Release-Info.outputs.os-default)}}
#        For Debugging
#        python-version: ${{fromJson(needs.Setup-Release-Info.outputs.python-default)}}
#        plugin-brewtils: ${{fromJson(needs.Setup-Release-Info.outputs.brewtils-default)}}
      fail-fast: false

    name: Remote Plugins - Brewtils ${{matrix.brewtils}} - Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.4

      - name: Build Local Beer Garden Docker
        run: make docker-build-unstable
        working-directory: ./src/app

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Update Docker Compose
        run: cp test/conf/docker-compose.yml docker/docker-compose/docker-compose.yml
        working-directory: ./

      - name: Run Docker Beer Garden
        run: docker-compose up -d beer-garden
        working-directory: ./docker/docker-compose

      - name: Check If Beer Garden is Operational
        uses: nick-invision/retry@v2
        with:
          timeout_seconds: 30
          max_attempts: 20
          retry_on: error
          retry_wait_seconds: 5
          command: curl http://localhost:2337/version

      - name: Grab logs from Beer-Garden
        run: docker-compose logs --tail 100 beer-garden
        working-directory: ./docker/docker-compose

      - name: Uninstall Brewtils
        run: pip${{ matrix.python-version }} uninstall brewtils

      - name: Install Test Version of Brewtils
        if: ${{matrix.brewtils != 'latest'}}
        run: pip${{ matrix.python-version }} install brewtils==${{matrix.brewtils}}

      - name: Install Test Latest of Brewtils
        if: ${{matrix.brewtils == 'latest'}}
        run: pip${{ matrix.python-version }} install brewtils

      - name: Install Python Deps
        run: pip${{ matrix.python-version }} install -r requirements.txt
        working-directory: ./test/integration

      - name: Test Plugins
        run: python${{ matrix.python-version }} -m pytest remote_plugins/
        working-directory: ./test/integration

      - name: Shutdown Docker Containers
        run: docker-compose stop
        working-directory: ./docker/docker-compose

  Local-Plugin-Testing:
    needs: Setup-Release-Info
    runs-on: ${{ matrix.os }}
    if: "false"

    strategy:
      matrix:
        python-version: ${{fromJson(needs.Setup-Release-Info.outputs.python-default)}}
        os: ${{fromJson(needs.Setup-Release-Info.outputs.os-default)}}
        brewtils: ${{fromJson(needs.Setup-Release-Info.outputs.brewtils-default)}}
      fail-fast: false

    name: Local Plugins - Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.4

      - name: Build Local Beer Garden Docker
        run: make docker-build-unstable
        working-directory: ./src/app

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Update Docker Compose
        run: cp test/conf/docker-compose.yml docker/docker-compose/docker-compose.yml
        working-directory: ./

      - name: Checkout Local Plugins
        uses: actions/checkout@v2
        with:
          repository: beer-garden/example-plugins
          path: ./docker/docker-compose/data/localplugins

      - name: Verify Local Plugins
        run: ls ./docker/docker-compose/data/localplugins

      - name: Run Docker Beer Garden
        run: docker-compose up -d beer-garden
        working-directory: ./docker/docker-compose

      - name: Check If Beer Garden is Operational
        uses: nick-invision/retry@v2
        with:
          timeout_seconds: 30
          max_attempts: 20
          retry_on: error
          retry_wait_seconds: 5
          command: curl http://localhost:2337/version

      - name: Grab logs from Beer-Garden
        run: docker-compose logs --tail 100 beer-garden
        working-directory: ./docker/docker-compose

      - name: Install Test Version of Brewtils
        if: ${{matrix.brewtils != 'latest'}}
        run: pip${{ matrix.python-version }} install brewtils==${{matrix.brewtils}}

      - name: Install Test Latest of Brewtils
        if: ${{matrix.brewtils == 'latest'}}
        run: pip${{ matrix.python-version }} install brewtils

      - name: Install Python Deps
        run: pip${{ matrix.python-version }} install -r requirements.txt
        working-directory: ./test/integration

      - name: Test Plugins
        run: python${{ matrix.python-version }} -m pytest local_plugins
        working-directory: ./test/integration

      - name: Shutdown Docker Containers
        run: docker-compose stop
        working-directory: ./docker/docker-compose

  Garden-HTTP-Testing:
    needs: Setup-Release-Info
    runs-on: ${{ matrix.os }}
    if: "false"

    strategy:
      matrix:
        os: ${{fromJson(needs.Setup-Release-Info.outputs.os-default)}}
        python-version: ${{fromJson(needs.Setup-Release-Info.outputs.python-default)}}
        child-garden: ${{fromJson(needs.Setup-Release-Info.outputs.beer-garden-docker-images)}}
        brewtils: ${{fromJson(needs.Setup-Release-Info.outputs.brewtils-default)}}
#        For Debugging
#        child-garden: ${{fromJson(needs.Setup-Release-Info.outputs.beer-garden-docker-default)}}
      fail-fast: false

    name: Garden - HTTP - Child ${{matrix.child-garden}}
    steps:
        - uses: actions/checkout@v2

        - name: Setup python
          uses: actions/setup-python@v2
          with:
            python-version: 3.4

        - name: Build Local Beer Garden Docker
          run: make docker-build-unstable
          working-directory: ./src/app

        - name: Setup python
          uses: actions/setup-python@v2
          with:
            python-version: ${{ matrix.python-version }}

        - name: Update Docker Compose
          run: cp test/conf/docker-compose.yml docker/docker-compose/docker-compose.yml
          working-directory: ./

        - name: Checkout Local Plugins
          uses: actions/checkout@v2
          with:
            repository: beer-garden/example-plugins
            path: ./tmp

        - name: Move Subset of Test Plugins
          run: |
            cp -r ./tmp/echo ./docker/docker-compose/data/localplugins

        - name: Verify Local Plugins
          run: ls ./docker/docker-compose/data/localplugins

        - name: Run Docker Beer Garden Child
          run: RELEASE=${{matrix.child-garden}} docker-compose up -d beer-garden-child
          working-directory: ./docker/docker-compose

        - name: Check If Beer Garden is Operational
          uses: nick-invision/retry@v2
          with:
            timeout_seconds: 30
            max_attempts: 20
            retry_on: error
            retry_wait_seconds: 5
            command: curl http://localhost:2337/version

        - name: Check Docker Containers
          run: docker ps

        - name: Grab logs from Child Beer-Garden
          run: RELEASE=${{matrix.child-garden}} docker-compose logs --tail 100 beer-garden-child
          working-directory: ./docker/docker-compose

        - name: Grab logs from Beer-Garden
          run: docker-compose logs --tail 100 beer-garden
          working-directory: ./docker/docker-compose

        - name: Install Python Deps
          run: pip${{ matrix.python-version }} install -r requirements.txt
          working-directory: ./test/integration

        - name: Install Test Version of Brewtils
          if: ${{matrix.brewtils != 'latest'}}
          run: pip${{ matrix.python-version }} install brewtils==${{matrix.brewtils}}

        - name: Install Test Latest of Brewtils
          if: ${{matrix.brewtils == 'latest'}}
          run: pip${{ matrix.python-version }} install brewtils

        - name: Test Gardens
          run: python${{ matrix.python-version }} -m pytest gardens_http/
          working-directory: ./test/integration

        - name: Shutdown Docker Containers
          run: docker-compose stop
          working-directory: ./docker/docker-compose

  Garden-Stomp-Testing:
    needs: Setup-Release-Info
    runs-on: ${{ matrix.os }}
#    if: "false"

    strategy:
      matrix:
        os: ${{fromJson(needs.Setup-Release-Info.outputs.os-default)}}
        python-version: ${{fromJson(needs.Setup-Release-Info.outputs.python-default)}}
        child-garden: ${{fromJson(needs.Setup-Release-Info.outputs.beer-garden-docker-images)}}
        brewtils: ${{fromJson(needs.Setup-Release-Info.outputs.brewtils-default)}}
#        For Debugging
#        child-garden: ${{fromJson(needs.Setup-Release-Info.outputs.beer-garden-docker-default)}}

        # Feature added in 3.0.3
        exclude:
          - child-garden: 3.0.0
          - child-garden: 3.0.1
          - child-garden: 3.0.2

      fail-fast: false

    name: Garden - STOMP - Child ${{matrix.child-garden}}
    steps:
      - uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.4

      - name: Build Local Beer Garden Docker
        run: make docker-build-unstable
        working-directory: ./src/app

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Update Docker Compose
        run: cp test/conf/docker-compose-stomp.yml docker/docker-compose/docker-compose.yml
        working-directory: ./

      - name: Checkout Local Plugins
        uses: actions/checkout@v2
        with:
          repository: beer-garden/example-plugins
          path: ./tmp

      - name: Move Subset of Test Plugins
        run: |
          cp -r ./tmp/echo ./docker/docker-compose/data/localplugins

      - name: Verify Local Plugins
        run: ls ./docker/docker-compose/data/localplugins

      - name: Run Docker Beer Garden Child
        run: RELEASE=${{matrix.child-garden}} docker-compose up -d beer-garden-child
        working-directory: ./docker/docker-compose

      - name: Check Docker Containers
        run: docker ps

      - name: Check If Beer Garden is Operational
        uses: nick-invision/retry@v2
        with:
          timeout_seconds: 30
          max_attempts: 20
          retry_on: error
          retry_wait_seconds: 5
          command: curl http://localhost:2337/version

      - name: Check Docker Containers
        run: docker ps

      - name: Grab logs from Child Beer-Garden
        run: RELEASE=${{matrix.child-garden}} docker-compose logs --tail 100 beer-garden-child
        working-directory: ./docker/docker-compose

      - name: Grab logs from Beer-Garden
        run: docker-compose logs --tail 100 beer-garden
        working-directory: ./docker/docker-compose

      - name: Install Python Deps
        run: pip${{ matrix.python-version }} install -r requirements.txt
        working-directory: ./test/integration

      - name: Install Test Version of Brewtils
        if: ${{matrix.brewtils != 'latest'}}
        run: pip${{ matrix.python-version }} install brewtils==${{matrix.brewtils}}

      - name: Install Test Latest of Brewtils
        if: ${{matrix.brewtils == 'latest'}}
        run: pip${{ matrix.python-version }} install brewtils

      - name: Test Gardens
        run: python${{ matrix.python-version }} -m pytest gardens_stomp/
        working-directory: ./test/integration

      - name: Shutdown Docker Containers
        run: docker-compose stop
        working-directory: ./docker/docker-compose

  Stomp-Testing:
    needs: Setup-Release-Info
    runs-on: ${{ matrix.os }}
#    if: "false"

    strategy:
      matrix:
        os: ${{fromJson(needs.Setup-Release-Info.outputs.os-default)}}
        python-version: ${{fromJson(needs.Setup-Release-Info.outputs.python-default)}}
        brewtils: ${{fromJson(needs.Setup-Release-Info.outputs.brewtils-default)}}

      fail-fast: false

    name: Stomp Testing - Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.4

      - name: Build Local Beer Garden Docker
        run: make docker-build-unstable
        working-directory: ./src/app

      - name: Checkout Local Plugins
        uses: actions/checkout@v2
        with:
          repository: beer-garden/example-plugins
          path: ./tmp

      - name: Move Subset of Test Plugins
        run: |
          cp -r ./tmp/echo ./docker/docker-compose/data/localplugins

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Update Docker Compose
        run: cp test/conf/docker-compose-stomp.yml docker/docker-compose/docker-compose.yml
        working-directory: ./

      - name: Run Docker Beer Garden
        run: docker-compose up -d beer-garden
        working-directory: ./docker/docker-compose

      - name: Check If Beer Garden is Operational
        uses: nick-invision/retry@v2
        with:
          timeout_seconds: 30
          max_attempts: 20
          retry_on: error
          retry_wait_seconds: 5
          command: curl http://localhost:2337/version

      - name: Install Test Version of Brewtils
        if: ${{matrix.brewtils != 'latest'}}
        run: pip${{ matrix.python-version }} install brewtils==${{matrix.brewtils}}

      - name: Install Test Latest of Brewtils
        if: ${{matrix.brewtils == 'latest'}}
        run: pip${{ matrix.python-version }} install brewtils

      - name: Install Stompy
        run: pip${{ matrix.python-version }} install stomp.py==6.1.0

      - name: Install Python Deps
        run: pip${{ matrix.python-version }} install -r requirements.txt
        working-directory: ./test/integration

      - name: Grab logs from Beer-Garden
        run: docker-compose logs --tail 100 beer-garden
        working-directory: ./docker/docker-compose

      - name: Test Plugins
        run: python${{ matrix.python-version }} -m pytest stomp/
        working-directory: ./test/integration

      - name: Shutdown Docker Containers
        run: docker-compose stop
        working-directory: ./docker/docker-compose