name: Pull Request

on: pull_request

jobs:
  Linting:
    runs-on: ${{ matrix.os }}

    defaults:
      run:
        working-directory: ./src/app

    strategy:
      matrix:
        python-version: ["3.11"]
        os: ["ubuntu-latest"]

    name: Linting OS ${{ matrix.os }} - Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      # Need to update if we support other OS's
      - name: Cache PIP Install
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ matrix.python-version }}-pip-lint-${{ hashFiles('**/setup.py') }}-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.python-version }}-pip-lint

      - name: Run Linting (src/app)
        run: |
          pip install black flake8 isort
          make lint

      - name: Run Linting (test/integration)
        working-directory: ./test/integration
        run: |
          pip install black flake8 isort
          make lint

  PyTest:
    runs-on: ${{ matrix.os }}

    env:
      brewtils: "develop"

    defaults:
      run:
        working-directory: ./src/app

    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9","3.11"]
        os: ["ubuntu-latest"]

    name: PyTests OS ${{ matrix.os }} - Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      # Custom tag extractor to find Brewtils Branch
      - name: Find Brewtils Branch
        uses: TheBurchLog/body-env-tag-action@1.0
        with:
          tag: "brewtils:"
          env-variable: "brewtils"
          default-value: "develop"
          tag-position: -1

      # Used the hashtag here instead of slash allow for branches to have slashes in them
      - name: Update Brewtils Branch
        run: sed -i 's#brewtils@develop#brewtils@${{env.brewtils}}#g' requirements-dev.txt

      # Need to update if we support other OS's
      - name: Cache PIP Install
        uses: actions/cache@v2
        if: env.brewtils == 'develop'
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ matrix.python-version }}-pip-install-${{ hashFiles('**/setup.py') }}-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.python-version }}-pip-install-

      - name: Make Deps
        run: make deps

      - name: Run Tests
        run: make test

  CodeCoverage:
    runs-on: ${{ matrix.os }}

    defaults:
      run:
        working-directory: ./src/app

    strategy:
      matrix:
        python-version: ["3.11"]
        os: ["ubuntu-latest"]

    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}

    name: Code Coverage OS ${{ matrix.os }} - Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      # Custom tag extractor to find Brewtils Branch
      - name: Find Brewtils Branch
        uses: TheBurchLog/body-env-tag-action@1.0
        with:
          tag: "brewtils:"
          env-variable: "brewtils"
          default-value: "develop"
          tag-position: -1

      # Used the hashtag here instead of slash allow for branches to have slashes in them
      - name: Update Brewtils Branch
        run: sed -i 's#brewtils@develop#brewtils@${{env.brewtils}}#g' requirements-dev.txt

      # Need to update if we support other OS's
      - name: Cache PIP Install
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ matrix.python-version }}-pip-coverage-${{ hashFiles('**/setup.py') }}-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.python-version }}-pip-coverage

      - name: Make Deps
        run: |
          make deps
          pip install pytest
          pip install pytest-cov

      - name: Generate coverage report
        continue-on-error: true
        run: |
          coverage run --source beer_garden -m pytest test --tb=no
          coverage report -m
          coverage xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1

  SecurityCheck:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        python-version: ["3.11"]
        os: ["ubuntu-latest"]

    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}

    name: Code Security Check OS ${{ matrix.os }} - Python ${{ matrix.python-version }}
    steps:
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Make Deps
        run: |
          python -m pip install --upgrade pip
          pip install "importlib-metadata<5" bandit

      - uses: actions/checkout@v3
        with:
          ref: ${{ github.base_ref }}
          path: ./old

      - uses: actions/checkout@v3
        with:
          path: ./new

      - name: Scan old security
        working-directory: ./old/src/app
        continue-on-error: true
        run: |
          bandit --format json -o ~/old_bandit.json -r beer_garden

      - name: Scan new security
        working-directory: ./new/src/app
        run: |
          bandit --baseline ~/old_bandit.json -r beer_garden

  Local-Plugin-Testing:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        python-version: ["3.7","3.8","3.9","3.10","3.11"]
        os: ["ubuntu-latest"]
      fail-fast: false

    name: Local Plugins - Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Build Local Beer Garden Docker
        run: |
          python --version
          python -m pip install --upgrade pip
          pip install setuptools wheel
          make package
          make clean-python
          docker build -t bgio/beer-garden:unstable -f docker/Dockerfile.unstable --build-arg PYTHON_IMAGE=python:${{ matrix.python-version }}-alpine .
        working-directory: ./src/app

      - name: Update Docker Compose
        run: cp test/conf/docker-compose.yml docker/docker-compose/docker-compose.yml
        working-directory: ./

      - name: Checkout Local Plugins
        uses: actions/checkout@v2
        with:
          repository: beer-garden/example-plugins
          path: ./docker/docker-compose/data/localplugins

      - name: Verify Local Plugins
        run: ls ./docker/docker-compose/data/localplugins

      - name: Run Docker Mongodb and RabbitMQ
        run: docker-compose up -d mongodb rabbitmq
        working-directory: ./docker/docker-compose

      - name: Wait for Mongodb and RabbitMQ to start
        run: sleep 20s
        shell: bash

      - name: Run Docker Beer Garden
        run: BG='unstable' docker-compose up -d beer-garden
        working-directory: ./docker/docker-compose

      - name: Wait for Beer Garden to start
        run: sleep 60s
        shell: bash

      - name: Grab logs from Beer-Garden
        run: BG='unstable' docker-compose logs --tail 100 beer-garden
        working-directory: ./docker/docker-compose

      - name: Check If Beer Garden is Operational
        uses: nick-invision/retry@v2
        with:
          timeout_seconds: 30
          max_attempts: 20
          retry_on: error
          retry_wait_seconds: 5
          command: curl http://localhost:2337/config

      - name: Grab logs from Beer-Garden
        run: BG='unstable' docker-compose logs --tail 100 beer-garden
        working-directory: ./docker/docker-compose

      # Custom tag extractor to find Brewtils Branch
      - name: Find Brewtils Branch
        uses: TheBurchLog/body-env-tag-action@1.0
        with:
          tag: "brewtils:"
          env-variable: "brewtils"
          default-value: "develop"
          tag-position: -1

      - name: Install Develop Version of Brewtils
        run: pip${{ matrix.python-version }} install -e git+https://github.com/beer-garden/brewtils@${{env.brewtils}}#egg=brewtils

      - name: Install Testing Dependencies
        run: pip${{ matrix.python-version }} install -r requirements.txt
        working-directory: ./test/integration

      - name: Test Plugins
        run: python${{ matrix.python-version }} -m pytest local_plugins
        working-directory: ./test/integration

      - name: Grab logs from Beer-Garden
        if: always()
        run: BG='unstable' docker-compose logs --tail 1000 beer-garden
        working-directory: ./docker/docker-compose

      - name: Shutdown Docker Containers
        run: docker-compose stop
        working-directory: ./docker/docker-compose

  Grandchild-Testing:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        python-version: ["3.11"]
        os: ["ubuntu-latest"]
        child: ["unstable", "3.19.1"]
        parent: ["unstable"]
      fail-fast: false

    name: Grandchild Test - unstable -> ${{ matrix.parent }} -> ${{ matrix.child }}
    steps:
      - uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Build Beer Garden Docker
        run: |
          python --version
          python -m pip install --upgrade pip
          pip install setuptools wheel
          make package
          make clean-python
          docker build -t bgio/beer-garden:unstable -f docker/Dockerfile.unstable --build-arg PYTHON_IMAGE=python:${{ matrix.python-version }}-alpine .
          docker tag bgio/beer-garden:unstable bgio/beer-garden:grandparent
          if [ "${{ matrix.parent }}" != "unstable" ]; then
            docker pull bgio/beer-garden:${{ matrix.parent }}
          fi
          docker tag bgio/beer-garden:${{ matrix.parent }} bgio/beer-garden:parent
          if [ "${{ matrix.child }}" != "unstable" ]; then
            docker pull bgio/beer-garden:${{ matrix.child }}
          fi
          docker tag bgio/beer-garden:${{ matrix.child }} bgio/beer-garden:child
        working-directory: ./src/app

      - name: Update Docker Compose  
        run: cp test/conf/docker-compose-grandparents-test.yml docker/docker-compose/docker-compose.yml
        working-directory: ./

      - name: Checkout Local Plugins
        uses: actions/checkout@v2
        with:
          repository: beer-garden/example-plugins
          path: ./docker/docker-compose/data/localplugins

      - name: Verify Local Plugins
        run: ls ./docker/docker-compose/data/localplugins

      - name: Run Docker Beer Garden
        run: docker-compose up -d beer-garden-child
        working-directory: ./docker/docker-compose

      - name: Wait for Beer Garden to start
        run: sleep 60s
        shell: bash

      # Custom tag extractor to find Brewtils Branch
      - name: Find Brewtils Branch
        uses: TheBurchLog/body-env-tag-action@1.0
        with:
          tag: "brewtils:"
          env-variable: "brewtils"
          default-value: "develop"
          tag-position: -1

      - name: Install Develop Version of Brewtils
        run: pip${{ matrix.python-version }} install -e git+https://github.com/beer-garden/brewtils@${{env.brewtils}}#egg=brewtils

      - name: Install Testing Dependencies
        run: pip${{ matrix.python-version }} install -r requirements.txt
        working-directory: ./test/integration

      - name: Test Plugins
        run: python${{ matrix.python-version }} -m pytest grandparents_garden/
        working-directory: ./test/integration

  Replication-Testing:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        python-version: ["3.11"]
        os: ["ubuntu-latest"]
      fail-fast: false

    name: Replicaiton Testing - Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Build Local Beer Garden Docker
        run: |
          python --version
          python -m pip install --upgrade pip
          pip install setuptools wheel
          make package
          make clean-python
          docker build -t bgio/beer-garden:test -f docker/Dockerfile.unstable --build-arg PYTHON_IMAGE=python:${{ matrix.python-version }}-alpine .
        working-directory: ./src/app

      - name: Start Docker Swarm
        run: docker swarm init

      - name: Run Docker RabbitMQ and Mongodb
        run: docker stack deploy -c docker-compose-support.yml bg_core
        working-directory: ./test/conf/swarm/

      - name: Wait for Mongodb and RabbitMQ to start
        run: sleep 20s
        shell: bash

      - name: Copy Data Files
        run: cp -r docker/docker-compose/data test/conf/swarm/
        working-directory: ./
      
      - name: Check Data Files
        run: ls test/conf/swarm/data/certs/
        working-directory: ./

      - name: Run Docker Beer Garden
        run: docker stack deploy -c docker-compose-framework.yml beer-garden
        working-directory: ./test/conf/swarm/

      - name: Wait for Beer Garden to start
        run: sleep 60s
        shell: bash

      - name: Check services
        run: docker service ls

      - name: Check docker
        run: docker ps

      - name: Check BG
        run: docker service ps --no-trunc beer-garden_beer-garden

      - name: Check If Beer Garden is Operational
        uses: nick-invision/retry@v2
        with:
          timeout_seconds: 30
          max_attempts: 20
          retry_on: error
          retry_wait_seconds: 5
          command: curl http://127.0.0.1:2337/config

      - name: Grab logs from Beer-Garden.1
        if: always()
        run: docker logs --tail 3000 $(docker ps --filter name=beer-garden_beer-garden.1 --quiet)

      - name: Grab logs from Beer-Garden.2
        if: always()
        run: docker logs --tail 3000 $(docker ps --filter name=beer-garden_beer-garden.2 --quiet)

      - name: Grab logs from Beer-Garden.3
        if: always()
        run: docker logs --tail 3000 $(docker ps --filter name=beer-garden_beer-garden.3 --quiet)

      - name: Run Docker Beer Garden Plugins
        run: docker stack deploy -c docker-compose-plugins.yml beer-plugins
        working-directory: ./test/conf/swarm/

      - name: Wait for Plugins to start
        run: sleep 15s
        shell: bash

      - name: Grab Garden Info
        uses: nick-invision/retry@v2
        with:
          timeout_seconds: 30
          max_attempts: 20
          retry_on: error
          retry_wait_seconds: 10
          command: curl http://127.0.0.1:2337/api/v1/gardens/

      - name: Check services
        run: docker service ls

      - name: Check Publisher
        run: docker service ps --no-trunc beer-plugins_subscribe 
      
      - name: Grab logs from Publisher
        run: docker service logs --tail 100 beer-plugins_subscribe 

      - name: Grab logs from Beer-Garden
        if: always()
        run: docker service logs --tail 1000 beer-garden_beer-garden

      # Custom tag extractor to find Brewtils Branch
      - name: Find Brewtils Branch
        uses: TheBurchLog/body-env-tag-action@1.0
        with:
          tag: "brewtils:"
          env-variable: "brewtils"
          default-value: "develop"
          tag-position: -1

      - name: Install Develop Version of Brewtils
        run: pip${{ matrix.python-version }} install -e git+https://github.com/beer-garden/brewtils@${{env.brewtils}}#egg=brewtils

      - name: Install Testing Dependencies
        run: pip${{ matrix.python-version }} install -r requirements.txt
        working-directory: ./test/integration

      - name: Test Plugins
        run: python${{ matrix.python-version }} -m pytest local_plugins --ignore=local_plugins/plugins/complex_test.py --ignore=local_plugins/plugins/dynamic_test.py
        working-directory: ./test/integration
        timeout-minutes: 2

      - name: Grab logs from Beer-Garden.1
        if: always()
        run: docker logs --tail 3000 $(docker ps --filter name=beer-garden_beer-garden.1 --quiet)

      - name: Grab logs from Beer-Garden.2
        if: always()
        run: docker logs --tail 3000 $(docker ps --filter name=beer-garden_beer-garden.2 --quiet)

      - name: Grab logs from Beer-Garden.3
        if: always()
        run: docker logs --tail 3000 $(docker ps --filter name=beer-garden_beer-garden.3 --quiet)

      - name: Check services
        if: always()
        run: docker service ls