name: Release

on:
  push:
    tags:
      - '*'

jobs:
  github-release:
    name: Github Release
    runs-on: ubuntu-latest

    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}

    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false


  pypi-publish:
    name: PyPI Publish
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./src/app

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Cache PIP Install
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-3.7-pip-build-${{ hashFiles('**/setup.py') }}-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-3.7-pip-build

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine

      - name: Build and publish
        continue-on-error: true
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: make publish-package


  pypi-verify:
    name: Verify PyPI Publish
    runs-on: ubuntu-latest
    needs: pypi-publish

    steps:
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Check PyPi
        uses: nick-invision/retry@v2
        with:
          timeout_seconds: 30
          max_attempts: 5
          retry_on: error
          retry_wait_seconds: 10
          command: pip install beer-garden==${GITHUB_REF#refs/tags/}


  docker-publish:
    name: Docker Publish
    runs-on: ubuntu-latest
    needs: pypi-verify

    steps:
      - uses: actions/checkout@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and Publish Images
        run: make publish-docker VERSION=${GITHUB_REF#refs/tags/}


  rpm-publish:
    name: RPM Publish
    runs-on: ubuntu-latest
    needs: [pypi-verify, github-release]

    steps:
      - uses: actions/checkout@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Get Version
        id: get_version
        uses: battila7/get-version-action@v2

      - name: Build RPM
        run: make rpm-build VERSION=${{ steps.get_version.outputs.version }}

      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        with:
          upload_url: ${{ needs.github-release.outputs.upload_url }}
          asset_path: ./rpm/dist/beer-garden-${{ steps.get_version.outputs.version }}-1.el7.x86_64.rpm
          asset_name: beer-garden-${{ steps.get_version.outputs.version }}-1.el7.x86_64.rpm
          asset_content_type: application/octet-stream
